[2021-08-04 11:06] polly64 commented on #602
superseded by issue 678

[2021-08-04 11:06] #602 closed

[2021-08-06 14:41] polly64 opened #679 "Type category revised brief"
@mz8i

1. Remove - title 'base archetype'
2. Remove title 'local typology description/architectural style'
3. Add and activate 'Architectural period' and add following dropdown
Saxon (410-1066)
Medieval (1066-1485)
Tudor (1485-1603)
Stuart (1603-1714)
Georgian (1714-1837)
Victorian (1837-1901)
Edwardian/WW1 (1901-1914)
Interwar (1919-1938)
Postwar (1945-1979)
Late 20th century (1980-2000)
Current

[2021-08-06 15:18] polly64 opened #680 "PH/Turing REG working notes"
**Describe the solution**
A clear and concise description of what you want to happen.

**Describe any alternatives**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Other context or background information.

[2021-08-07 10:59] #610 closed

[2021-08-07 12:07] polly64 opened #681 "land use not working"
@mz8i Land use feature not working -changed 'dwelling' to 'pub' for 52 lloyd baker street - option changed though save button didn't seemed to register but colour didn't change and the 'order' stayed residential

[2021-08-11 08:18] polly64 opened #682 "MK priority list"
@matkoniecz this is our ongoing editable priority feature notepad. We use it to try and keep track of issues and tick them off when they're done, and we edit this first entry box rather than having a long thread as otherwise it gets very confusing.  Detailed discussions can then be undertaken under a separate issue number where required - we are also now putting an editable priority list at the to

[2021-08-11 08:49] polly64 opened #683 "MZ list"
**Describe the solution**
A clear and concise description of what you want to happen.

**Describe any alternatives**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Other context or background information.

[2021-08-11 08:53] #683 closed

[2021-08-12 00:37] #681 closed

[2021-08-13 07:19] #309 closed

[2021-08-13 07:21] #137 closed

[2021-08-13 07:21] #103 closed

[2021-08-13 07:26] #167 closed

[2021-08-13 07:27] #193 closed

[2021-08-13 07:28] #199 closed

[2021-08-13 07:33] #221 closed

[2021-09-20 14:09] polly64 opened #685 "LIVE STREAMING - planning data streaming"
**Purpose of Planning Viz feature:**

1.  To provide open code for a Colouring Cities feature that increases  accessibility to open planning data- demoed  for London using data released by the GLA
2.  To enable communities, developers,  local authorities, and others to gain instant  accessto visual  info onthe  location and status of planning applications, as well as weblinks to application detail

[2021-10-12 08:35] polly64 commented on #678
@mz8i   Hi have just realised that we have a privacy issue with the private ownership category in that the user can potentially provide a link to a webpage which could provide detailed data on the privately owned building.  This undermines our decision to protect building occupier/owner privacy by only allowing detailed data on community owned assets, where information is already in the public dom

[2021-11-02 14:58] polly64 opened #689 "UPDATED CONTRIBUTOR AGREEMENT' AND 'DATA ACCURACY' to improve clarity and transparency"
@tomalrussell @mz8i @matkoniecz @Ismael-KG (Turing Ethics) I have rewritten these to improve clarity and transparency - if you could read and make any comments that would be great

DATA ACCURACY AGREEMENT
Colouring London data are provided "as is", without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, accuracy, fitness for a particular pu

[2021-11-02 16:22] polly64 opened #690 "COLOURING CITIES RESEARCH PROGRAMME PROTOCOLS"
**COLOURING CITIES RESEARCH PROGRAMME (CCRP) PROTOCOLS & LIVE MANUAL DRAFT**
Please note the Colouring Cities manual is now being edited at https://github.com/colouring-cities/manual/wiki

![200531_CC research program-logo](https://user-images.githubusercontent.com/42236514/142622449-a22d734c-f299-4f32-ae2c-9692ed8f0908.jpg)

**SECTION 1: WHAT IS THE CCRP?**

The Colouring Cities Research Programm

[2021-11-04 17:08] matkoniecz commented on #682
I see four ways to handle this:

- allow people to enter any links, monitor it and in case of malicious ones revert edit and ban people. Negative effect is that malicious links will be visible for some time, and importance of that depends on how often it happens and how important is to avoid it.
- allow people to enter any links, block known unwanted ones ( say, ones listed at https://github.com/S

[2021-11-04 17:17] matkoniecz commented on #682
Even with filtering domains it is still possible to add links like https://www.bbc.com/serious_insults_here

Note that sufficiently malicious people will manage to stuff offensive things in the year form (by setting year to 1488, see https://en.wikipedia.org/wiki/Fourteen_Words ) or by other content offensive by context.

So it is not possible to block malicious content completely and it is questi

[2021-11-04 17:22] polly64 commented on #682
@matkoniecz could you add these comments to https://github.com/colouring-london/colouring-london/issues/687 too so we have them in the main privacy/security issue - thanks

[2021-11-04 17:25] matkoniecz commented on #682
mirrored to https://github.com/colouring-london/colouring-london/issues/687#issuecomment-961259366

[2021-11-04 17:35] polly64 commented on #682
@matkoniecz to-do-list cleaned up

[2021-11-05 08:32] matkoniecz commented on #689
maybe

would be better?

[2021-11-05 11:21] polly64 commented on #689
@matkoniecz @tomalrussell thanks, have changed above, and also have removed the ref to  teams@..under 'scope' and replaced with turing data protection email for now.  Could you both talk further re email address thanks, and @matkoniecz if you can also contact Turing departments in WT's email so see if they have any thoughts that would be great.

[2021-11-05 12:35] polly64 commented on #689
@tomalrussell @matkoniecz thanks for email Tom. I have added back team@ but also kep the turing data protection as well as a back up.  @matkoniecz this is now ready to upload

[2021-11-07 14:41] matkoniecz opened #691 "monitor certbot/let's encrypt status"
**Describe the solution**
It would be a good idea to get notification about https certificate issues before live site is impacted.

**Describe any alternatives**
Fix problems after getting report of live site losing https and after browser starts complaining about insecure connection and block users.

**Additional context**
Likely detecting when certificate has less than 14 or 7 remaining days wou

[2021-11-07 15:05] matkoniecz commented on #689
@polly64

It was my initial deployment, so nearly entire time was spend with Maciej on discussing technical setup. There is also ongoing work to document it better so in future it will be easier to access this info (especially if he and/or me would be unavailable or forgot something).

https://colouringlondon.org/data-accuracy.html is deployed (with provided version, should I also include https://

[2021-11-07 15:27] polly64 commented on #689
@matkoniecz thanks, let's talk re whether we include the issue 689 link next time we speak

[2021-11-07 19:43] matkoniecz commented on #689
@polly64

there seems to be a typo here, see https://github.com/colouring-london/colouring-london/commits/master/app/src/frontend/pages/privacy-policy.tsx

Previous update appears to be in 2019, with two later being a technical changes not affecting page text. I will put 2019 on the published page, resulting in

(I can also change "last updated on" to actual deployment date)

[2021-11-07 22:06] polly64 commented on #691
also to discuss with @tomalrussell at next meeting

[2021-11-07 22:07] polly64 commented on #689
@matkoniecz  yes thanks for spotting

[2021-11-08 08:41] matkoniecz commented on #689
@polly64

I will also change

to

as it seems to be preferred formatting - let me know if original was intentional.

I also think that linking something specific in "provide feedback on actual or potential privacy and security concerns" could be useful. For example "provide feedback" can link https://github.com/colouring-london/colouring-london/issues or https://github.com/colouring-london/colouri

[2021-11-08 11:23] polly64 commented on #689
Yes great. In Cambridge today so prob won’t pick up emails Until and can’t make meeting with u and Tom Friday but we could do Friday pm for a half hour catch up if you’re free? Or the following week justs let me know what’s good

Polly Hudson

Senior Research Fellow, Bartlett Centre for Advanced Spatial Analysis, UCL.

Senior Research Fellow, The Alan Turing Institute

Project Lead, Colouring Citi

[2021-11-08 17:15] matkoniecz commented on #689
should it be also renamed in sidebar?

![screen03](https://user-images.githubusercontent.com/899988/140787729-641d3987-376a-41d8-8359-502d86ef82b8.png)

[2021-11-08 17:21] matkoniecz commented on #689
should it be also renamed in sidebar?

![screen03](https://user-images.githubusercontent.com/899988/140788549-f4e1d782-2931-4ef7-b494-04c7d5eac737.png)

[2021-11-08 17:32] matkoniecz commented on #689
Fully deployed, though some tweaks (mentioned above) may still need to be handled.

[2021-11-08 17:32] #689 closed

[2021-11-12 10:35] matkoniecz commented on #685
I have created https://github.com/colouring-london/planning-datahub-investigation with summary of what I obtained so far.

I also send an email to planningdata@London.gov.uk in attempt to get more info about location data (not sure is the full polygon data available somehow)

[2021-11-16 15:59] polly64 opened #695 "unable to zoom close/zoomed out"
Hi @matkoniecz on chrome the landing page text has shrunk and feels as if i'm zoomed out- also  I'm unable to zoom in as close to buildings ( we can on staging) , and can't read street names. On firefox it's fine could you possibly have a quick check on this? thanks

[2021-11-16 16:53] matkoniecz commented on #695
Hm, from quick check everything seems fine to me (on specific browser-OS etc combination).

Can you open Chrome and press `ctrl` and `0` buttons at the same time?

Or in other way reset zoom level to default?

It is possible that some of ways to activate zooming out was activated, and this is remembered by browser for each domain separately, what would explain why staging is not affected.

[2021-11-16 18:13] polly64 commented on #695
@matkoniecz  brilliant works!

[2021-11-16 18:13] #695 closed

[2021-11-24 10:35] Ismael-KG commented on #690
Hi @polly64 - just two comments from me!

Firstly, regarding _[The Turing Way](https://github.com/alan-turing-institute/the-turing-way)_. The main reason I brought them up is their community's expertise in (i) [licensing](https://the-turing-way.netlify.app/reproducible-research/licensing.html) (which we discussed a few weeks ago), (ii) and community management (mostly, their approach to developing

[2021-11-24 11:20] polly64 commented on #690
Hi @Ismael-KG thanks for this . The Turing Way code of conduct great (FYI Turing REG are now involved from Jan 2022).  Copying in @tomalrussell and @matkoniecz  so we can look at discussing/integrating these.
Agree Let's discuss the dataprotection issue next time, we put this in as a temporary measure while further discussions took place
re Protocol i , i think i will just clarify now

[2021-12-09 00:48] matkoniecz opened #697 "Stress test the full CL setup documentation and improve it"
- [x] Test [dev env](https://github.com/colouring-cities/colouring-london/blob/master/docs/setup-dev-environment.md) setup
    - At least some of this is automated when running `vagrant up` by [vm_provision.sh](https://github.com/colouring-cities/colouring-london/blob/master/provision/vm_provision.sh)
    - Can I just use [these steps](https://github.com/colouring-cities/colouring-london-config)?

[2021-12-09 00:50] matkoniecz opened #698 "peer dependencies complaints"
On staging and production large number of warnings appears during build.

peer dependencies complaints are one of them and it would be nice to either silence or solve them.

Have not investigated it so far.

[code]

[2021-12-09 00:53] matkoniecz opened #699 "asset(s) exceed the recommended size limit (244 KiB)"
During build following is appearing

[code]

it either should be fixed or silenced

Currently number of complaints is so large that serious warnings can be easily missed.

[2021-12-09 00:53] matkoniecz opened #1357 "asset(s) exceed the recommended size limit (244 KiB)"
During build following is appearing

[code]

it either should be fixed or silenced

Currently number of complaints is so large that serious warnings can be easily missed.

See https://webpack.js.org/configuration/performance/#performanceassetfilter for how this specific one can be tuned.

`pngcrush` turns out not very effective

[2021-12-11 09:49] matkoniecz opened #702 "password resets emails are classified as spam"
**Describe the problem**
Using https://colouring.london/forgotten-password.html appears to not result in receiving emails because such mails end in spam.

**To Reproduce**
Steps to reproduce the behavior:
1. Create account
2. Log off
3. Fill https://colouring.london/forgotten-password.html
4. Wait and then check spam

Note that it may be basically unfixable, but maybe something can be improved?

N

[2021-12-22 12:52] polly64 opened #703 "Collaborative maintenance/engagement (1): CL Historic Environment Sector"
This issue relates provides information on current and outstanding actions taken to engage the historic buildings sector in CL data input and verification. CL is of relevance to this sector for the following reasons:
Colouring London
- Promotes building conservation, adaptation and reuse, and high quality construction, to help make cities more sustainable
- Increases transparency in planning & vis

[2022-01-07 08:29] polly64 opened #707 "Contacting the project"
**Describe the solution**
A clear and concise description of what you want to happen.

**Describe any alternatives**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Other context or background information.

[2022-01-07 08:31] polly64 commented on #707
Hi @tomalrussell @matkoniecz and EC could you possibly set out all ways users can currently contact us below - and actions proposed so we can discuss this issue with EC, thanks

[2022-01-10 12:53] tomalrussell commented on #707
I've edited the issue to add notes.

We've also discussed a couple of use cases which might not be met currently:
- general interest enquiries
- reporting security concerns
- flagging anything on the site for moderation

[2022-01-10 14:01] polly64 commented on #707
@tomalrussell thanks i think like you said would be good to add a blog which we/I could write each month - efficient way also to chart our progress. Could you set this up? I will also talk to EC and MK re a How to use video to minimise queries on how to use site

[2022-01-14 10:18] matkoniecz commented on #702
not really actionable, there are far more important issues

[2022-01-14 10:18] #702 closed

[2022-01-15 12:06] polly64 opened #714 "Zoom level and building numbering"
https://maps.bristol.gov.uk/pinpoint/ @edwardchalstrey1 @tomalrussell @matkoniecz
Hi this Bristol Council site uses OSMM and the zoom level we want and the building numbering, later presumably from OS AddressBase, Any thoughts re whether we can now also add these under the explorer OSMM licence as both have been raised as issues by users?

[2022-01-17 10:31] tomalrussell commented on #714
As in the [example](https://labs.os.uk/public/os-data-hub-examples/os-maps-api/zxy-3857-basic-map) and work in progress on #710 we should be able to go up to zoom level 20 with the OSMM map tiles.

Building numbers are purely in the background map though, both in the Bristol example and the tiles we're using - so if we draw coloured-in building on top, they will be obscured.

We do have a [`number

[2022-01-17 11:56] edwardchalstrey1 opened #720 "Update and better document local CL setup with OSM test polygons"
Currently the`etl/get_test_polygons.py` script thows an error and looks like this occurs when using the latest osmnx package.

**To Reproduce**:
1. `cd etl`
2. `python get_test_polygons.py`

**Expected behavior**:
Downloads test data

**Error**:
[code]

**To close**:
- [x] Either update the script to work for the latest `osmnx` package or control the version to one that works
    - works with `osm

[2022-01-17 12:01] edwardchalstrey1 opened #721 "Create milestones for Turing REG development"
Set dated milestones for major goals up to August 22

e.g.

- Automate OS polygon updates to CL db upon new data releases
- Implement demolition tracking
- Create easy to deploy version of CL (e.g. using Terraform,Ansible)
- Create comprehensive documentation for CL devs and users (e.g. Gitbook)

[2022-01-18 09:45] tomalrussell commented on #720
For ref - https://osmnx.readthedocs.io/en/stable/osmnx.html?highlight=geometries_from_point#osmnx.geometries.geometries_from_point

[2022-01-19 09:38] edwardchalstrey1 commented on #721
# Agenda 19th Jan 2022

1. Run through #680 as a group and convert all development to issues as we go
2. Set up **dated** milestones for key goals of the Turing REG project (EC)
3. Sort through the backlog of issues and the ones we have just created, assigning all relevant ones to milestones
4. Populate EC project board with most pressing issues

[2022-01-19 09:42] edwardchalstrey1 opened #722 "Update Colouring London 2016 OSMM polygons and facilitate automatic updating"
### Tasks

- [x] Request to download the data from [here](https://www.ordnancesurvey.co.uk/business-government/licensing-agreements/data-exploration)
    - [x] Download data once request received
- [x] Document existing DB setup with latest OS data #798
- [x] Create script for adding the new data to db (see below comment) & document the script that does this update, test in a dev environment. Set

[2022-01-19 09:43] edwardchalstrey1 opened #723 "Facilitate building attribute data upload for Location"

[2022-01-19 09:54] edwardchalstrey1 opened #724 "Facilitate building attribute data upload for Land use"
### Tasks

- [x] Change 'Unclassified presumed residential' on dropdown to 'Unclassified presumed non-residential'
- [x] Add full title of 'Unclassified, presumed non-residential' to Land use key. can be on 2 lines
- [x] Using code from Age data section, if applicable, add a land use source dropdown in the Current Use section to include the following options
    - Expert/personal knowledge of buil

[2022-01-19 09:54] edwardchalstrey1 opened #725 "Facilitate building attribute data upload for Type"
- [ ] Add copy tool
- [ ] Add verification button

## Consult list

- [ ] Activate [ ] Add ' Local typology/Architectural style'
Add this initial dropdown to start with- CLHEAG will comment and suggest adjustments

- Medieval/Tudor building
- Georgian terraced house
- Georgian building other
- Victorian high street building
- Victorian terraced house
- Victorian semi-detached house
- Victorian det

[2022-01-19 09:54] edwardchalstrey1 opened #726 "Facilitate building attribute data upload for Age"
@edwardchalstrey1 @matkoniecz CLHEAG priority

- [x] Move 'earliest' date box to above' latest' date box
- [ ] Add new extension box before 'facade date' with the question:
'Are there any significant later extensions? (Yes/No)
if 'yes' takes you to 'Date of extension/s?' (add date option and allow for all major extension dates to be added over time)
- [ ] Activate verification copy tool (as for al

[2022-01-19 09:54] edwardchalstrey1 opened #727 "Facilitate building attribute data upload for Construction"
### Easy
- [ ] Add 'main secondary construction materials' list and allow them to tick however many are relevant. Use primary construction list (partial overlap with #568)
- [x] Change name from 'secondary construction materials to 'main secondary construction material/s'
- [x] Change sub category name from 'construction system' to 'construction system type'
- [ ] Add 'main construction system' li

[2022-01-19 09:55] edwardchalstrey1 opened #728 "Facilitate building attribute data upload for Size"

[2022-01-19 09:55] edwardchalstrey1 opened #729 "Facilitate building attribute data upload for Street Context"

[2022-01-19 09:55] edwardchalstrey1 opened #730 "Facilitate building attribute data upload for Team"
@matkoniecz @edwardchalstrey1 CLHEAG committee priority to activate

- [x] Add main Note to contributor in a blue box (using same format as for 'Current use') saying:
'Can you help us capture information on who built the current building?'

- [x] 1a. Add text 'Do you wish to add information on:
'The main building?' OR 'A major extension?'

This answer leads you to the same questions for each optio

[2022-01-19 09:55] edwardchalstrey1 opened #731 "Facilitate building attribute data upload for Planning"

[2022-01-19 09:55] edwardchalstrey1 opened #732 "Facilitate building attribute data upload for Sustainability"

[2022-01-19 09:55] edwardchalstrey1 opened #733 "Facilitate building attribute data upload for Dynamics"
- [ ] Add sources url link box
- [ ] Add copy tool
- [ ] Add verification button

For further future discussion points see  https://github.com/colouring-cities/colouring-london/issues/545

[2022-01-19 09:55] edwardchalstrey1 opened #734 "Facilitate building attribute data upload for Community"
@matkoniecz @edwardchalstrey1  CLHEAG PRIORITY

The main purpose of the category is to:
- identify the type of buildings viewed as being of value to local communities and provide  relevant geospatial data for analysis
- raise awareness of building threatened with demolition
- track/quantify the scale of loss/additions of community assets over time
- quantify and geolocate all buildings in non-prof

[2022-01-19 10:21] tomalrussell opened #736 "Integrate Land Registry open cadastral parcels"

[2022-01-19 10:22] edwardchalstrey1 opened #737 "Make copy tool easier to use"
Ideally click 'Copy' and then just click straight onto building (without clicking 'copy selected'. Add hints on how to use and check obvious how to click off 'copy'selected'

- [x] Enable the copy checkbox on all fields
- [x] Rename/ fiddle so there is a distinction between "Copy all" and "Copy selected"
- ~~Make it obvious that you can copy verification (but this should be separate from copying f

[2022-01-19 10:23] edwardchalstrey1 opened #738 "Make OS map text visible over buildings"

[2022-01-19 10:25] edwardchalstrey1 opened #739 "Make confetti bust on map rather than sidebar"
Test further

[2022-01-19 10:27] edwardchalstrey1 opened #740 "Apply verification to all categories"

[2022-01-19 10:29] edwardchalstrey1 commented on #269
Make last edit date more visible

[2022-01-19 10:30] edwardchalstrey1 opened #741 "Auto close postcode search dropdowns"

[2022-01-19 10:32] edwardchalstrey1 opened #742 "Make the website easily editable"
Add more partner logos on landing page - below current

[2022-01-19 10:33] edwardchalstrey1 opened #743 "Improve the graphic design of site"
Add more partner logos on landing page - below current

Liase with Turing comms

[2022-01-19 10:35] edwardchalstrey1 opened #744 "Allow admin users to edit map colour scales"

[2022-01-19 10:41] edwardchalstrey1 opened #745 "Set up automated build / test pipelines using GitHub Actions"

[2022-01-19 10:42] edwardchalstrey1 opened #746 "Add integration tests for faster/automatic updating of dependencies"
See for example #531

[2022-01-19 10:42] matkoniecz commented on #744
So basically as the first step we weould need to move that into database rather than hardcoding in https://github.com/colouring-cities/colouring-london/blob/master/app/map_styles/polygon.xml and https://github.com/colouring-cities/colouring-london/blob/master/app/src/frontend/config/category-maps-config.ts

`app/map_styles/polygon.xml` would need to be dynamically generated, without restarting the

[2022-01-19 10:45] edwardchalstrey1 opened #747 "Improve cache invalidation"
Automatically generate a list of tiles that need to be re-cached after a visual style is changed

[2022-01-19 10:45] edwardchalstrey1 opened #1304 "Improve cache invalidation"
Automatically generate a list of tiles that need to be re-cached after a visual style is changed

[2022-01-19 10:46] matkoniecz commented on #743
Which ones are missing?

[2022-01-19 10:49] matkoniecz commented on #747
To be more clear, right now edit invalidates all map styles - not only relevant ones

For code see https://github.com/colouring-cities/colouring-london/blob/e12b544503a5e5ba302387a8c2bddee1a5be514d/app/src/api/services/building/tileCache.ts and https://github.com/colouring-cities/colouring-london/blob/e12b544503a5e5ba302387a8c2bddee1a5be514d/app/src/tiles/tileCache.ts#L110

[2022-01-19 10:54] edwardchalstrey1 opened #748 "Change boolean checkboxes to three value interface"
Front end change: implement UI component:
Allow any combination of yes/no/unknown for true/false fields (e.g. yes/no, yes/?, yes/no/?)

[2022-01-19 10:55] edwardchalstrey1 opened #749 "Implement auto-suggest dropdown"
Create a free text input with an auto-suggest dropdown that learns from most popular input values across the database

[2022-01-19 11:13] edwardchalstrey1 opened #750 "Transfer demolished OSMM TOIDs to 'Dynamics' section (PH/EC)"

[2022-01-19 11:16] edwardchalstrey1 opened #751 "Explore potential of retention and visualisation of 2016 and subsequent annual OSMM releases with OS (PH/EC)"

[2022-01-19 11:18] edwardchalstrey1 opened #752 "Build new/revise features based on recommendations from CLHEAG to maximise potential for HES volunteer engagement. Record feature discussions on GitHub issue for Colouring Cities Research Programme (CCRP) regional and international partners to view. (PH/EC)"

[2022-01-19 11:18] edwardchalstrey1 commented on #752
Build new/revise features based on recommendations from CLHEAG to maximise potential for HES volunteer engagement. Record feature discussions on GitHub issue for Colouring Cities Research Programme (CCRP) regional and international partners to view. (PH/EC)

[2022-01-19 11:19] edwardchalstrey1 opened #753 "Integrate at least one OS 1:1250 scale historical map (1890)"
working with from National Library of Scotland and Katie McDonough and Valeria Vitale (representing Turing Computer Vision and Heritage SIG, Living with Machines and Machine reading maps) to support users working on Dynamics section. Introduce split screen as NLS https://maps.nls.uk/geo/explore/side-by-side/ (PH/EC)

[2022-01-19 11:21] edwardchalstrey1 opened #754 "Improve user communication/and produce video training features"
To be used by the crowdsourcers

[2022-01-19 11:23] edwardchalstrey1 opened #755 "Use vectorised historical network data for post war period (provided by Dr Kiril Stanilov) to produce draft age datasets by capturing all buildings within 50m buffer of road centreline for 1960 and 1990 datasets. Produce 100,000+ age data entries"

[2022-01-19 11:26] edwardchalstrey1 commented on #755
#751 as a pre-requisite

[2022-01-19 11:38] edwardchalstrey1 opened #757 "Produce interface feature to facilitate layering of non OSMM linked open environmental data"

[2022-01-19 11:42] edwardchalstrey1 opened #758 "Layer following datasets for London and demo potential for Colouring Great Britain:"

[2022-01-19 11:53] edwardchalstrey1 opened #759 "Establish modes of communication for cross-country development"
- [ ] @tomalrussell to set up open calls
- [ ] @edwardchalstrey1 establish GH discussions as a platform for the community ( https://github.com/colouring-cities/colouring-london/discussions )

[2022-01-19 11:58] matkoniecz commented on #759
Is it supposed to replace https://discuss.colouring.london/ ?

[2022-01-19 12:06] edwardchalstrey1 opened #760 "Advance work on the Colouring Cities Climate change emergency tool to support data capture of building physical state in emergency situations"

[2022-01-19 12:06] edwardchalstrey1 opened #761 "Look at Turing Urban Grammar initiative building footprints"
Explore the potential of open data extraction of comprehensive building footprints using satellite imagery for CCRP partners with the Turing Urban Grammar initiative https://www.turing.ac.uk/research/research-projects/urban-grammar

[2022-01-21 09:59] #721 closed

[2022-01-21 10:26] edwardchalstrey1 commented on #635
Closing for now, feel free to reopen

[2022-01-21 10:26] #635 closed

[2022-01-21 10:39] edwardchalstrey1 commented on #531
@tomalrussell do you know what the situation with these is currently?

[2022-01-21 10:43] edwardchalstrey1 opened #764 "Create automated CL deployment setup"
Use tools such as Terraform and possibly Ansible to have a deployable version of CL that can, with minimal configuration:

- Provision relevant VMs on a cloud provider
- Run the complete install process

[2022-01-21 10:43] edwardchalstrey1 opened #1296 "Automate CL deployment with Terraform"
This could be very valuable to collaborators in other countries who want to set up there own instance of `colouring-london` with their own data on a server.

The idea would be to have deployment scripts that can do the following, using tools such as Terraform (and possibly Ansible) to have a deployable version of CL that can, with minimal configuration:

- Provision relevant VMs on a cloud provide

[2022-01-21 10:57] edwardchalstrey1 commented on #603
working on this #720

[2022-01-21 10:57] #603 closed

[2022-01-21 11:01] edwardchalstrey1 commented on #583
Closing this to be tidy, feel free to reopen

[2022-01-21 11:01] #583 closed

[2022-01-21 11:21] #435 closed

[2022-01-21 11:21] #434 closed

[2022-01-21 11:23] edwardchalstrey1 commented on #432
Hi @dominijk can this be closed? Also for any other open issues you may have on the project :)

[2022-01-24 09:53] tomalrussell commented on #531
@edwardchalstrey1 the latest LTS stack would be: Ubuntu 20.04, node 16, PostgreSQL 14, PostGIS 3.

I think this should work fine for us with the major bump to pg-promise - https://github.com/colouring-cities/colouring-london/pull/671 - I'd be happy to help with user acceptance testing

See also @matkoniecz latest explorations on https://github.com/colouring-cities/colouring-london/pull/762

[2022-01-26 10:37] geoffroy-noel-ddh opened #766 "Deployment scripts and instructions not working (deprecated?)"
**Describe the problem**
A clear and concise description of what the bug is.
Our team has tried installing Colouring-London locally on our servers to assess the ease of deployment and customisation (for a new geographical area) and possibly recommend adoption to our partners. We have tried vagrant up and the provision script and other instructions but the installation process fails at various stag

[2022-01-26 10:46] tomalrussell commented on #766
Hi @geoffroy-noel-ddh - thanks for the issue, @edwardchalstrey1 is currently working on bringing the setup and deployment up to date, see the discussion at https://github.com/colouring-cities/colouring-london/discussions/765 - we'd appreciate your input on approaches and are definitely keen to make this a lot easier!

See also recent background in #764 and a bit of work looking at vagrant and ubun

[2022-01-26 12:37] geoffroy-noel-ddh commented on #766
Thanks for the prompt reply and the pointers. I realise now that my question was well timed as I was probably working on trying to port the provision script to docker & 20.04 as you were having conversations about similar tasks!

Unfortunately we can't contribute much as we are at the feasibility stage and looking at different options so there's no resource on our side for anything more than for q

[2022-01-26 14:13] edwardchalstrey1 commented on #766
Thanks for your input @geoffroy-noel-ddh - sounds like our thoughts on this are broadly aligned - as Tom suggests, stay tuned because I'm hoping that a month from now we should have some clearer documentation and likely docker setup.

I also hope to implement an automated deployment script with Terraform that could help with your server setup (depending on your timeline). see #764 & #765

[2022-01-27 13:24] edwardchalstrey1 commented on #697
Hi @matkoniecz - is there a live link for the CL staging server hosted site that you look at to test changes, and is it https://clstaging.casa.ucl.ac.uk/ as suggested in the issue template you linked above?

[2022-01-27 13:28] matkoniecz commented on #697
It is https://cl-staging.uksouth.cloudapp.azure.com/ (see https://github.com/colouring-cities/colouring-london-config )

https://clstaging.casa.ucl.ac.uk seems to be not loading

[2022-01-27 13:30] edwardchalstrey1 commented on #697
Thanks @matkoniecz

[2022-01-27 13:50] edwardchalstrey1 commented on #766
Also see #697 as once I've fixed this up that will hopefully help in advance of any automation with docker

[2022-01-27 16:45] edwardchalstrey1 commented on #697
Problems with install so far seem to be:

1. `sudo apt-get install -y postgresql-12-postgis-3`:
  -  `E: Unable to locate package postgresql-12-postgis-3`
2. `npm install` has an error - long, need to see logs

[2022-01-28 09:42] edwardchalstrey1 commented on #697
Thanks @tomalrussell looks like setting the postegres repository for apt worked!

I'm taking a look at the npm log:

[code]

[2022-01-28 10:10] tomalrussell commented on #697
That's reasonable. Node 12 LTS will leave maintenance mode this year, so switching to 16 should be on the TODO list, whether that's part of this work or to follow - https://nodejs.org/en/about/releases/

[2022-01-28 15:32] edwardchalstrey1 commented on #697
@tomalrussell @matkoniecz I wonder if you've had a similar problem in setting up npm with the vagrant vm? Basically the problem seems to be that when `npm install` is run from `/vagrant/app`, it's expecting to see this `dir` called `node_modules` which doesn't seem to exist:

`npm ERR! path /vagrant/app/node_modules/mapnik`

[2022-01-28 16:03] edwardchalstrey1 commented on #697
[code]

[2022-01-31 09:45] polly64 commented on #730
@matkoniecz @edwardchalstrey1 CLHEAG committee priority to activate

- [ ] Add main Note to contributor in a blue box (using same format as for 'Current use') saying:
'Can you help us capture information on who built the current building?'

- [ ] Then offer option"
'Do you wish to add information on:
the main building? OR a major extension?

This takes you to the following questions:

- [ ] 'When

[2022-01-31 09:48] #677 closed

[2022-01-31 09:57] polly64 commented on #726
@edwardchalstrey1 @matkoniecz
- [ ] Ask Maciek for file with my sources for age data for Camden and add sources to 'Age 'category.
- [ ] Move 'earliest' date box to above' latest' date box
- [ ] Add new extension box before 'facade date' with the question:
'Have there been any significant later extensions (Yes/No)
yes takes you to 'Date of extension/s?' (add date option and allow for multiple date

[2022-01-31 10:06] polly64 commented on #724
- [ ] Change 'Unclassified presumed residential' on dropdown to 'Unclassified presumed non-residential'
- [ ] Add full title of 'Unclassified, presumed non-residential' to Land use key. can be on 2 lines
- [ ] Change text disclaimer to read xxxxxx
- [ ]  Suggest/implement way of colouring a) Residential garden buildings' and b) Hotels nd adding to the key. We are now able to record these using the

[2022-01-31 10:36] polly64 commented on #734
The main purpose of the category is to:
a)  identify the type of buildings viewed as being of value to local communities and provide  relevant geospatial data for analysis
b)  raise awareness of building threatened with demolition
c)  track/quantify the scale of loss/additions of community assets over time
d) quantify and geolocate all buildings in non-profit ownership in the city

see also closed

[2022-01-31 11:06] polly64 commented on #737
Justification:

-allow people the option to focus on a single question e.g liking a building or saying it should be registered as of local significance and then just click across multiple buildings quickly rather than having to enter scroll and tick for each one

- raises the issue of users having to fill in multiple OSMM polygons associated with a single site/building which is very boring and ver

[2022-01-31 11:18] polly64 commented on #733
Link to this issue https://github.com/colouring-cities/colouring-london/issues/545

[2022-01-31 12:06] matkoniecz commented on #724
@polly64

So how 'Unclassified presumed residential' would be marked?

That would require either

(A) changing how colouring works (currently by landuse order)

or

(B) moving this group to a new order

[2022-01-31 12:10] matkoniecz commented on #726
@polly64

I did it already for one file and he submitted "Colouring London Polly's building age data file" email on 2022-01-22

Is it about yet another data file? Not sure should I ask him.

[2022-01-31 12:11] matkoniecz commented on #726
Which sections?

[2022-01-31 12:19] polly64 commented on #724
@matkoniecz @edwardchalstrey1
Re hotels I think we should classify hotels and guesthouses as Retail as they sell a service. And I think on the key/dropdown we should say 'Retail/Services' not just 'Retail' as they sell a direct service that involves the building . I have had this issue with others such as mechanics workshops. However we need to make a note on NLUD classification hint that some adj

[2022-01-31 12:29] matkoniecz commented on #734
@polly64

Can be done but not entirely sure is it improving consistency of interface.

Are you sure that it will be as clear as likes? I am not a English native speaker but at least to me the first association was [a parasite](https://en.wikipedia.org/wiki/Tick)

I am not fan of a FB et all, but I think it may be useful to keep standard terminology.

(it is entirely clear that I am wrong, feel fre

[2022-01-31 13:02] tomalrussell commented on #724
We seem to have a couple of related goals in this (thinking about hotels and residential garden buildings):
- collect data in a standard way for ease of use
- collect additional information of interest to make distinctions that the standard doesn't allow
- present data in a way that works well on our map

We should follow the NLUD classification standard where we collect data on the NLUD classific

[2022-01-31 13:22] matkoniecz commented on #734
Conclusion:

remove

as info in this format is easy to misintepret and this info is accessible in the edit hostory

[2022-01-31 13:48] matkoniecz commented on #737
possible idea with really ugly mockup:

maybe make buttons more buton-like with at least some border?

(obviously not as ugly as in the quick paint mockup)

![tempsnip](https://user-images.githubusercontent.com/899988/151805051-b8f37e20-a5e9-41ce-8d1e-fd5ceecef23a.png)

[2022-01-31 13:48] edwardchalstrey1 commented on #737
Ideas:
- Hover tooltip explaining how Copy works

[2022-01-31 13:55] matkoniecz commented on #737
![Capture](https://user-images.githubusercontent.com/899988/151806215-49499557-f299-4104-ad98-25557bc819eb.PNG)

[2022-01-31 14:04] edwardchalstrey1 opened #768 "Put logos on landing page"

[2022-01-31 15:41] polly64 commented on #726
no this is right file

[2022-01-31 15:48] polly64 commented on #726
@matkoniecz can you email me file from Maciek now and i'll tell you which fields and where?

[2022-01-31 15:50] polly64 commented on #726
@matkoniecz it's fine leave question marks and i'll delete off actions

[2022-01-31 15:54] matkoniecz commented on #726
Done

[2022-01-31 16:20] polly64 commented on #726
@tomalrussell do you have my building age file from years ago called Tom4? It had all my age data in it but also the TOID links? wondered if you could possibly have a quick look for @matkoniecz

[2022-01-31 16:34] matkoniecz commented on #727
@polly64 What needs to be changed here?

[2022-01-31 16:41] polly64 commented on #727
@matkoniecz just adding things now

[2022-01-31 18:17] #605 closed

[2022-02-01 09:37] polly64 commented on #734
PH additional comment - removal of 'likes number is necessary as implies people do not like a building (commonly someone's home) when in fact means no comment has been made.  The range of likes is also shown on the key, and the actual number can be tracked on the edit history NB this feature is used primarily for engagement and as a tool/visual evidence of opposition by  local communities of demol

[2022-02-01 10:59] polly64 opened #770 "open satellite imagery links in download section"
add link to copernicus project and other re relevant open satellite imagery in our download section

[2022-02-01 11:17] matkoniecz commented on #770
I assigned you as I assumed that you will prepare list of links.

[2022-02-01 11:30] matkoniecz commented on #734
It is a bit inconsistent and may be worth changing how it is referred in code `building.community_local_significance` but it is not actively misleading and would be quite irritating. I think I will change just label to have one simple thing for once.

[2022-02-01 11:57] matkoniecz opened #773 "Has this ever been used for community activities in the past? - add from and to date options"
In Community view.

Extracted from  Facilitate building attribute data upload for Community #734

[2022-02-01 11:58] matkoniecz commented on #773
@polly64

Opened a new issue for that as it is one of potentially more complex. It can be also done is the simplest possible form if that is a good fit.

How complex it should be? Is it OK to have "from year" and "to year"?

Or i it supposed to have "Latest possible start year"/"Earliest possible start date" like Age category?

I can imagine at least following:

- marking "till the current year wh

[2022-02-01 12:04] matkoniecz commented on #727
@polly64

Are

sections working currently in any way or were ever working? Not sure is it just placeholder or something got broken (I can check in repo history but if you remember it well it would be helpful)

[2022-02-01 12:25] polly64 commented on #770
yes and not urgent

[2022-02-01 12:34] polly64 commented on #773
@matkoniecz yes year to year fine

could we have 2 options
a) always used for community activities - tick box OR
b) used community activities between 1920 and 1939

what do you think?

'

[2022-02-01 12:35] polly64 commented on #727
@matkoniecz no secondary materials were never working we just had placeholder

[2022-02-01 12:47] matkoniecz commented on #773
Maybe "currently used for community activities - tick box"?

[2022-02-01 12:53] polly64 commented on #773
@matkoniecz
Hi I think we need 3 questions here
1. Is the building used for any  type of community activities at the moment? ie daytime use as play centre
2. Has it always had community activities taking place within it? - i.e. was it built for these and is still used like a school
3. Was it and some point used for community activities and isn't now? ie was school now converted into housing
lets c

[2022-02-01 13:24] matkoniecz opened #774 "Four questions in Community"
Hi @matkoniecz following our discussion these are final questions

- [x] 'Is the building in some sort of "community" ownership?'  Yes/No

- [ ] Are activities open to the community currently taking place in the building? Yes/No

- [ ] Has the building always been used for community activities?Yes/No

- [ ] Has the building been used in the past for community activities but isn't now? Yes/No

http

[2022-02-01 14:40] edwardchalstrey1 opened #775 "Dockerise CL setup"
Useful blog: https://medium.com/nsoft/building-and-running-nodejs-typescript-postgresql-application-with-docker-3878240a2f73

[2022-02-01 16:19] matkoniecz commented on #697
I am not using vagrant - I tried fixing it but failed and right now started doing other things as discussed on the last meeting.

https://github.com/matkoniecz/fresh_database_alt are my notes from my initial setup, but I have not tried to reproduce it. While `setup1.sh` `setup2.sh` should be just runnable, for `setup3.sh` I just did some of steps copying it into CLI.

Once this was done I imported

[2022-02-01 17:36] matkoniecz commented on #697
I would first try setup it again to check can I still achieve this

BTW, if I broke setup then the https://github.com/colouring-cities/colouring-london/pull/700 is the most likely reason. Other changes were not touching setup at all.

[2022-02-02 09:56] edwardchalstrey1 commented on #697
@tomalrussell this seems to be the issue I'm stuck on too, I can't get your solution to work though, are you sure that's all you did to fix the dependency circle here?

[code]

[2022-02-02 10:37] matkoniecz commented on #697
this specific error can be solved by making a supposedly safe upgrades: https://github.com/colouring-cities/colouring-london/commit/f20cb8a73d8ad3d0b460b8c314ec7b20b3ec84c4

this is not actually solving `webpack5` problem, just a different error (entire package deprecated and fundamentally incompatible with `webpack5` - not investigated it further)

[2022-02-02 10:44] edwardchalstrey1 commented on #697
Thanks, I seem to have got around this by using webpack 4.46.0 in the package.json as Tom suggested and also switching to using node version `12.22.0` (I think it was 12.8 or something before)

Now I am back to the issues with mapnik and gyp

[2022-02-02 11:36] edwardchalstrey1 commented on #697
Just making a note of things I have tried.

On a fresh Ubuntu VM, I ran the node setup steps from here, with the current master branch of colouring london checked out and again we have the issue with `mapnik` on `npm install`:

[code]

and it doesn't seem to install any of the node modules

[2022-02-02 15:12] tomalrussell commented on #697
I had a look at running through this the other evening, have just pushed the package.json and package-lock.json state that I ended up with on [`feature/node16`](https://github.com/colouring-cities/colouring-london/tree/feature/node16), running with node v16 (current LTS). This seems to install cleanly if I delete node_modules and rerun `npm i`.

Have you started on a Dockerfile anywhere @edwardcha

[2022-02-02 16:50] edwardchalstrey1 commented on #697
I've been fiddling with Vagrant so far since we already made a start on that and to just try and figure out the node dependencies - looks like the changes on your branch are working when I run `npm install` with node 16 on an Ubuntu VM - thx!

Now I just need to do something about this memory allocation to make the Vagrant version work I think, getting this on `npm install`:

[code]

On Docker, I

[2022-02-02 16:58] matkoniecz commented on #697
https://github.com/colouring-cities/colouring-london/blob/463711317d2b97215af608456fbae76cd643b8a7/Vagrantfile#L36 ?

[2022-02-02 17:02] edwardchalstrey1 commented on #697
Ah thanks, this branch didn't have that commit, will try now

[2022-02-02 17:47] tomalrussell commented on #697
Great. This looks broadly sensible - you might/might not want to bother with the pgAdmin setup. I like the general outline of a docker compose for db + app, and mounted volumes for source code and data.

Choice of base image - might be easiest to build off the official ubuntu 20.04 image, as we've most experience there. Otherwise the official node image is built on debian, might be easy enough to

[2022-02-02 17:52] matkoniecz commented on #697
I would go with Ubuntu 20.04 to match staging/production. Unless it is impossible or has atrocious performance for some reason.

[2022-02-03 14:27] edwardchalstrey1 commented on #766
@geoffroy-noel-ddh there is an updated version of the documentation for setting up a dev environment on #776 which you may find helpful. I still need to test loading the map data.

[2022-02-07 10:36] matkoniecz opened #777 "Allow to translate interface"
**Describe the solution**
In countries like Indonesia, Bahrain and other non-English countries it would be very useful to have ability to translate interface.

Even in UK it would be useful.

**Additional context**
This is a big time-consuming project.

For start: researching and selecting a good i18n solution would be nice.

[2022-02-07 11:10] matkoniecz opened #778 "Backup manual wiki and issues"
clone https://github.com/colouring-cities/manual.wiki.git

use one of tools to backup issues

Github going down, banning colouring cities or losing data is minimal but backups are always a good idea

Triggered by discussion with @polly64 and @zarashabrina

[2022-02-07 11:13] matkoniecz opened #779 "better internationalization - Colouring Indonesia as an use case"
It may be useful to extract/modify some London-specific features/configuration/assumptions.

Many things will be different across world.

Triggered by discussion with @polly64 and @zarashabrina

[2022-02-07 12:02] dominijk commented on #432
@edwardchalstrey1 the unhelpful answer is I'm not sure, i've not been directly involved with the project since early 2020. No issue my side on closing my authored issues

[2022-02-07 13:10] #432 closed

[2022-02-16 09:38] matkoniecz commented on #727
It is partially overlapping with #361

[2022-02-16 13:32] matkoniecz commented on #727
@polly64

Is this freeform text box wanted? I remember plans to remove existing freeform text boxes.

[2022-02-16 13:43] matkoniecz commented on #724
@polly64

Is freeform "Source details" supposed to be present?

[2022-02-16 13:51] matkoniecz commented on #730
@polly64

Is it supposed to be yes/no field?

Or is it supposed to be possible to answer all this questions for both (1) initial construction (2) major extension (3) another major extension (4) yet another extension etc?

In case of the second version it would be much harder to implement properly.

[2022-02-16 13:53] matkoniecz commented on #725
@polly64

I can do this, but doing it once would be much, much simpler than amending existing enumeration.

[2022-02-16 18:00] matkoniecz commented on #777
I asked someone knowledgeable on this topic and there is a clear answer: react-intl ( https://formatjs.io/docs/react-intl/ )

[2022-02-17 09:32] matkoniecz opened #784 ""Latest possible start year" can be earlier than "Earliest possible start date""
**Describe the problem**
It should not be possible to enter "Latest possible start year" as earlier than "Earliest possible start date"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Age map
2. Select one of buildings ( https://cl-staging.uksouth.cloudapp.azure.com/edit/age/2481763 may link directly )
3. start editing
3. fill form in way that is chronologically impossible
4. save edit

[2022-02-17 09:33] matkoniecz commented on #784
@polly64 What you think about flipping order (this one should be 5 minutes of work)

[2022-02-17 09:35] matkoniecz commented on #724
@polly64

It seems to be present already, or is it supposed to be separately available for autoderived "Current Land Use (Order)"?

[2022-02-17 12:27] matkoniecz commented on #727
@polly64

Do you want some form of ids for construction materials, like one displayed in land use? Currently empty text is a placeholder

![screen01](https://user-images.githubusercontent.com/899988/154481544-763976cd-8935-449c-988b-9a754543751f.png)

BTW, is it really useful to display identifiers in land use dropdown?

![screen](https://user-images.githubusercontent.com/899988/154481656-c573c7ff

[2022-02-17 13:06] matkoniecz commented on #727
It is OK to remove id.

[2022-02-18 16:53] matkoniecz opened #786 "Add "Wikidata identifier" to Location grop"
@polly64

Should I put it into "Activate features for CLHEAG" milestone?

[2022-02-18 18:30] matkoniecz opened #787 "Do not show duplicate groups in autocomplete"
It should be possible to filter them out rather present that to user.

![screen](https://user-images.githubusercontent.com/899988/154739998-d6abba38-2abf-4528-9071-a066d9591dc5.png)

[2022-02-22 11:25] matkoniecz opened #788 "Add database contraint to ensure that current_landuse_order and current_landuse_group are set together"
[code]
reports some entries (I am fixing them).

While right now interface block such invalid data, it would be preferable to ensure that it would be blocked also on database level

[2022-02-22 11:25] matkoniecz opened #1365 "Add database contraint to ensure that current_landuse_order and current_landuse_group are set together"
[code]
reports some entries (I am fixing them).

While right now interface block such invalid data, it would be preferable to ensure that it would be blocked also on database level

[2022-02-22 20:02] matkoniecz commented on #774
@polly64

this seems redundant to

![screen](https://user-images.githubusercontent.com/899988/155209813-442d9fd5-6a92-4f5a-9234-10ab1f9e5cbe.png)

so I will skip it

[2022-02-22 23:54] matkoniecz commented on #774
@polly64

I hoped that I will invent something smarter by a bit different questions but have not. Note one possible way to answer badly:

Do you have some idea how to rephrase questions? Or is the proper answer to block saving such self contradictory answers? Or is it sometimes valid?

![screen02](https://user-images.githubusercontent.com/899988/155239501-d49417c3-f43f-44ce-ba6c-353e34d3af33.png)

[2022-02-22 23:59] #774 closed

[2022-02-23 11:51] edwardchalstrey1 commented on #531
See problem with postgres 14 documented here: https://github.com/colouring-cities/colouring-london/pull/776#discussion_r811324120

[2022-02-27 10:32] polly64 opened #792 "Turing Computer Vision and Digital Heritage Special Interest Group linked programme"
See https://github.com/ComputerVision4DigitalHeritage/sigplanning/issues/37

[2022-03-01 10:21] #766 closed

[2022-03-01 10:24] matkoniecz commented on #766
https://github.com/colouring-cities/colouring-london/blob/master/docs/setup-dev-environment.md should be now working for Ubuntu 18.04

[2022-03-01 11:35] edwardchalstrey1 commented on #766
^ @geoffroy-noel-ddh

[2022-03-01 11:44] matkoniecz opened #793 "Support Ubuntu 20.04 in the setup script (import of test polygons is failing)"
Followup on #776

in 20.04 import of test polygons is failing.

I have at least partial fixes for that (`sudo apt-get install -y --quiet libgdal-dev` - not tested is it affecting 18.04! ) and  bumping psycopg2 in requirements.txt by 0.0.1 version.
See https://gist.github.com/matkoniecz/36df073591b102247bb72ea3916ecb03 for log of a failure.

Adding `sudo apt-get install -y --quiet libgdal-dev` is f

[2022-03-02 07:59] polly64 opened #795 "Colouring Ukraine"
Could we set up a Colouring Ukraine platform building on our discussions of using open code in emergency situations.

I don't know whether we might be able to bring together colleagues from the Open data community to help?  using either national mapping footprints if they exist, or a call out to OSM to create new ones from satellite imagery. This might possibly be useful in three ways:

- To provi

[2022-03-02 08:28] polly64 opened #796 "Wildlife Trust collaboration, land parcel colouring"
**Describe the solution**
A clear and concise description of what you want to happen.

**Describe any alternatives**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Other context or background information.

[2022-03-02 09:39] edwardchalstrey1 commented on #795
Hi Polly, I have a few thoughts on this idea:

1. Feel free to disagree, but were we were to go down this route at all, my thoughts are that will would be something to be a no.1 priority, which would be at the expense of Colouring London/Britain - I think it's a great idea potentially, but I'm not sure the impact would be much were this to be something that simply becomes one of the other colourin

[2022-03-02 09:54] matkoniecz commented on #795
General note: it would be worth verifying whether something like that would be welcome right now.

It is likely that Ukrainians would prefer to avoid making recent accurate satellite imagery to be public. As it is likely right now they have better info about situation on the ground than Russians (due to familiarity with own area, also I expect that USA/NATO transfers to them imagery from their sou

[2022-03-09 13:02] #720 closed

[2022-03-11 10:49] matkoniecz commented on #777
for search: translation

[2022-03-11 10:58] matkoniecz commented on #777
And the standard solution for gathering translations itself is to setup account on platform like POEditor or Transifex, import-export data from it regularly and let volunteers to translate things into their languages.

[2022-03-11 16:45] tomalrussell commented on #777
To note the link @matkoniecz shared earlier- example of using POEditor to manage translations: https://github.com/streetcomplete/StreetComplete/blob/master/CONTRIBUTING.md#translating-the-app

[2022-03-12 10:39] matkoniecz commented on #777
And here project using Transifex: https://github.com/MarcusWolschon/osmeditor4android/blob/master/TRANSLATIONS.md

(there are also other similar problems, but this two I am familiar with)

[2022-03-14 12:28] tomalrussell opened #800 "Document how polygons get from the database to the map"
How do the polygons go from being stored in the database to being visible on the map once the app is running?

The entry point for the server application is:
- [`/app/src/index.ts`](https://github.com/colouring-cities/colouring-london/blob/8c56d206388825ffe37c2fba71fe7be78b9eed10/app/src/index.ts)

This loads the "server" modules, which defines an ExpressJS application:
- [`/app/src/server.tsx`](h

[2022-03-19 10:28] polly64 opened #801 "Integrate GEM taxonomy of buildings /earthquake data"

[2022-03-19 10:28] polly64 opened #1489 "Integrate GEM taxonomy of buildings /earthquake data"
Check and Integrate  GEM taxonomy of buildings

All  tables/codes of the taxonomy are also hosted on a GitHub repo (https://github.com/gem/gem_taxonomy).
https://storage.globalquakemodel.org/what/physical-integrated-risk/building-taxonomy/

See also A Building Classification System for Multi-hazard Risk Assessment
Vitor Silva, Svetlana Brzev, Charles Scawthorn, Catalina Yepes, Jamal Dabbeek, Helen

[2022-03-28 09:27] polly64 commented on #795
Thanks for comments, I think probably most useful in reconstruction and obviously needs to be set up by those who think it would be useful. Agree as could have negative impact at this stage,  live collection much more suitable to advance for climate emergency.  Most useful thing we can do as you say Ed is to get the open code/interface super easy to use (and tested for Colouring Britain) if requir

[2022-03-28 11:51] matkoniecz commented on #795
Should we keep this issue open? Or close it and reopen once (hopefully soon) war stops and main problem is not going to be a blocker.

BTW translation ( #777 ) is likely to be important here.

[2022-03-28 11:53] polly64 commented on #795
happy to close if you think appropriate

[2022-03-28 12:14] #795 closed

[2022-03-29 15:35] edwardchalstrey1 opened #803 "Add location_latitude & location_longitude in the buildings table"
Use free [OS Open Linked Identifiers](https://osdatahub.os.uk/downloads/open/LIDS?_ga=2.83424020.385733542.1646990019-1842243284.1646990019) to populate the location_latitude & location_longitude in the buildings table.

[2022-03-29 15:39] edwardchalstrey1 opened #804 "Set map boundary in intelligent way"
Update `etl/drop_outside_limit.sh`, test it and add to documentation. Perhaps add an argument that specifies whether the boundary is London or Britain.

[2022-03-29 17:32] tomalrussell commented on #730
Just to chip in on names - see these [notes on personal names](https://www.w3.org/International/questions/qa-personal-names) which walks through some of the variety in personal names.

Suggest a single "name" or "full name" field for simplicity, with generous character limit (perhaps 90).

[2022-03-29 17:48] tomalrussell commented on #804
There's a GeoJSON file containing the GLA boundary in `/app/public/geometries`

That script expects a shapefile, so you may need to add a `ogr2ogr` step to convert from GeoJSON to ShapeFile:
[code]

For Britain, there would be no need to drop geometries - we'd most likely want to include everthing covered by OS.

The script already takes the path to a file to use as the boundary as an argument. It

[2022-03-29 18:09] polly64 commented on #730
@tomalrussell  thanks @matkoniecz

[2022-03-31 09:40] polly64 opened #805 "swap Size and Construction category positions on grid"
Hi @matkoniecz  could you swap the Size and Construction category positions, and links to  associated data subcats - on the colour grid so that they match the  image below  (shown with the two categories to be swapped around highlighted), thanks

![new category positions](https://user-images.githubusercontent.com/42236514/161025867-b1de8964-afce-4dad-be3b-6aec9bb3a5ad.JPG)

This will  mean they wi

[2022-03-31 13:07] edwardchalstrey1 commented on #722
### Facilitate automatic updating

Script should:

- [ ] Add polygons from new OS data to geometries table that have **new** TOIDs i.e. are not already in the db & create new building record to match, with best guess build date of today
- [ ] Check if any of the features (e.g. lat/lon) in the update (the new geometries) match one of our pre-existing TOIDs (pre-update geometries) but have a differe

[2022-04-13 11:51] polly64 opened #807 "Do not permit data entry deletion unless replacement given"
@tomalrussell @edwardchalstrey1 Just noticed the block on deletion of other people's edits doesn't seem to be activated - just checked age data. You seem to be able to remove by deleting and save. Ed we had an issue a while ago and agreed that you shouldn't be able to delete an edit unless you replaced with something else to reduce chance of malicious behaviour. If we could possibly look at would

[2022-04-13 12:38] edwardchalstrey1 commented on #807
#516 <- looks like there is a similar issue open that has not been worked on yet. @polly64 I have added this to my todo column of my [project board](https://github.com/colouring-cities/colouring-london/projects/9)

[2022-04-13 13:25] polly64 commented on #807
thanks ed

[2022-04-22 13:18] #804 closed

[2022-04-28 09:55] edwardchalstrey1 opened #810 "Go to maps button has incorrect link"
At the bottom of the page on https://www.pages.colouring.london/use there is a button called "Go to maps" that links to https://beta.colouring.london/

Change it to https://colouringlondon.org/

Screenshot (bottom of page)
![Screenshot 2022-04-28 at 10 52 43](https://user-images.githubusercontent.com/5486164/165727484-8e19ca93-d677-4e6a-91ec-bf005a5b55e9.png)

[2022-04-28 14:41] edwardchalstrey1 opened #811 "Activate verification tool for all sub-categories"
# TODO

- Add verification button for all sub-categories
    - Update `building/data-containers/age.tsx` and equivalent for other categories with new `<Verification>`s within the returned `<Fragment>`
    - [x] Age
    - [x] Current Use
    - ~~Type~~
    - [x] Location
    - [x] Size
    - [x] Construction
    - ~~Streetscape~~
    - ~~Team~~
    - [x] Planning
    - [x] Sustainability
    - ~~Dy

[2022-04-28 14:48] edwardchalstrey1 opened #812 "- carry out spatial join using OMMM polygons falling within 70m buffer of centreline of 1786 network (PH to supply from Kiril Stanilov) and classify as 'Unclassified, presumed residential' to help focus volunteers on areas we want particular help with"

[2022-04-28 15:11] edwardchalstrey1 opened #813 "Zoom further than present to see/edit small polygons more easily"

[2022-04-29 08:33] edwardchalstrey1 opened #814 "add option button to overlay this 1786 street network data to show clear relationship between historical networks location and non domestic buildings/land use (also relevant to support CCRP/Turing mapathon, and to attract interest/traffic from historic environment interest/education groups)"

[2022-04-29 08:35] edwardchalstrey1 opened #815 "begin to work on algorithms beginning by one to automatically geolocate and colour groups of domestic garages (simplest form) which have two or more rectangular ground plans of a very similar shape and size joined parallel to each other ."

[2022-04-29 08:46] edwardchalstrey1 commented on #814
Linked to #755

[2022-04-29 08:53] #722 closed

[2022-05-06 09:32] #724 closed

[2022-05-10 15:08] edwardchalstrey1 opened #820 "Extend Colouring London to include the whole of Britain"
Hopefully it should be possible to follow this guide: https://github.com/colouring-cities/colouring-london/tree/master/etl#readme and extend docs/scripts where needed

- Do we need a higher compute VM?
- Do we need more space?
- Are we renaming the site?
- Costs of VM?

[2022-05-10 15:24] edwardchalstrey1 commented on #820
Hi @polly64 ,

Just to let you know I have just had a chat with @matkoniecz  and he agrees that it makes sense for him to look at Colouring Britain, whilst I continue to work with you on the website feature priorities for CLHEAG.

In the meantime, it would be useful to know one thing: do we want to keep the website of colouringlondon.org or at some point do we rename it to colouringbritain.org ? P

[2022-05-10 15:27] polly64 commented on #820
great thanks, yes he let me know just now.
yes completely agree let's wait for update and then change name

Polly Hudson
Senior Research Fellow, The Alan Turing Institute
Project Lead:  Colouring Cities Research Programme
https://www.turing.ac.uk/research/research-projects/colouring-london-and-colouring-cities-research-programme

The Alan Turing Institute is the UK's national institute for data sc

[2022-05-12 10:22] edwardchalstrey1 commented on #737
@matkoniecz did you make some changes already on a branch towards this goal?

[2022-05-12 10:26] edwardchalstrey1 opened #821 "Changes to source details on Age and Current Use"
- [x] Remove "Source details" box for Age category
- [x] Make source link/ text and image links boxes not appear for Age/Current Use categories when either of the top 2 options are selected for "Source of information"

[2022-05-12 10:35] edwardchalstrey1 opened #822 "Edit history changes"
-  [ ] Rename "History" to "Edit History"
- [ ] Add a "last edited by" which is just the top result  from the Edit history page to the main edit page at the bottom (for all categories)
- [ ] Add an icon for the edit method in the Edit history that distinguishes between manual and automated
- [ ] For the automated edits, it should read "Last edited by [method]" as oppose to "Last edited by [person]

[2022-05-12 15:55] edwardchalstrey1 commented on #821
Hi @polly64 the minor changes described above are now live at https://cl-staging.uksouth.cloudapp.azure.com/

Could you check it works as expected?

I'll look at #811 next

[2022-05-12 16:30] polly64 commented on #821
Hi @edwardchalstrey1 looks great,

[2022-05-13 08:25] #821 closed

[2022-05-17 13:00] #531 closed

[2022-05-21 07:15] polly64 opened #826 "add maximum zoom level"
**Describe the solution**
A clear and concise description of what you want to happen.

**Describe any alternatives**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Other context or background information.

[2022-05-21 07:17] polly64 opened #827 "add address search"
@matkoniecz would be good to add this as part of CLPV tool as people will also want to search for planning application status specific  as well as it being  generally useful

[2022-05-21 07:19] polly64 commented on #826
@tomalrussell can you chat to @edwardchalstrey1 about doing this - if easy fix would be great if you could activate soon as once ed has got colouring issue sorted i need to start work on land use for the mapathon in July and it's hard to do at current scale, thanks both

[2022-05-21 21:57] polly64 opened #828 "add addresses in 'Location section"
can we pre-populate any of the building name, or street subcats with OS data here?

[2022-05-23 08:12] #813 closed

[2022-05-26 10:04] edwardchalstrey1 commented on #822
PH: I think ideally we should in fact alter the system so that if the current edit is overwritten with a new edit that matches an historical one, then the old verifications should also be restored with one extra verification also added for the original editor's entry.

[2022-05-26 13:22] edwardchalstrey1 opened #831 "Trigger refresh of app when verify button clicked for Current Use is residential"
Trigger refresh of app when verify button clicked for Current Use is residential (like what happens when current use category group changed) or when any verify button is clicked if easier

[2022-05-26 13:52] tomalrussell commented on #822
Verifications are stored independently of edits, and this already works.

If any number of users verify that an attribute should have a particular value (e.g. a building was built in the year 2000) then that count will be shown when the current state of that attribute is equal to the verified value.

For example:
- one user edits a building to set build year to 2000
- five users verify this; the v

[2022-05-26 14:15] edwardchalstrey1 commented on #822
Thanks @tomalrussell

Does this assume that no-one clicked "remove"? It looked to be like when that is clicked, we delete the row in the `building_verification` table. Or perhaps I'm misunderstanding how the verification count is handled?

[2022-05-26 14:17] #811 closed, assigned to edwardchalstrey1

[2022-05-26 14:30] tomalrussell commented on #822
Yes, if anyone clicks remove that would affect their own verification - so could reduce the total count by at most one.

See https://github.com/colouring-cities/colouring-london/blob/f5ee154b5dcc2c691af78139f07aaf68dfd08d9a/app/src/api/dataAccess/verify.ts#L109-L114

[2022-05-30 08:35] #831 closed

[2022-05-30 17:06] polly64 commented on #730
@edwardchalstrey1 have updated teams list

[2022-06-01 13:45] edwardchalstrey1 commented on #730
@polly64 few Qs:

1. Should this part work the same way as for the Age category, with both a "Source of information" dropdown and a "Text and Image Links" text box?
2. For the case where 'The main building' is selected, should we again inherit the values for both of those from the Age category? When 'A major extension' is selected, we can have them empty, the same as for the 'When was the work car

[2022-06-10 14:06] edwardchalstrey1 opened #835 "Update Team section to support multiple extensions per building"
We need to be able to capture data on whole building and on all extensions at same time or separately . i.e. rather than having an either/or - meaning you have to state the whole process again for each extension.

- [ ] add character limits where appropriate

[2022-06-13 08:48] polly64 commented on #730
Hi @edwardchalstrey1 looking great. I've just been testing and this is list to come out of it

GENERAL

Stop digits moving so you actually have to type in number as v easy to accidentally alter and we don't really need this option

    Add copy tool for each entry on all sections and also user ability to 'Copy All' at top

LOCATION

    Activate all the boxes that are restricted but use the same p

[2022-06-13 08:49] #730 closed

[2022-06-20 08:33] edwardchalstrey1 commented on #726
# Updated list 20/06/22

- [ ] Change name of first box to : 'Estimated start date' (this is the only one to be also linked to 'Teams''
- [ ] Add a Second box under it called 'Estimated completion date'
- [ ] Change existing the two  Earliest and latest possible date boxes to
One saying Earliest and latest possible start dates and the other saying
Earliest and latest possible completion dates
- [

[2022-06-20 08:40] edwardchalstrey1 opened #836 "Limit ability to edit years with arrows"
PH - Stop digits moving so you actually have to type in number as v easy to accidentally alter and we don't really need this option

[2022-06-20 08:43] edwardchalstrey1 opened #837 "Changes to Location section"
Activate all the boxes that are restricted but use the same protection as for name i.e. if address or building name maximum number of characters and need for gap between road name and word road/street/avenue etc

[2022-06-20 08:45] edwardchalstrey1 opened #838 "Extra additions to Team section"
- [x] Remove 'NO' option on awards
- [x] Change to text to read 'Who was/were the developer/s'
- [x] Change developer dropdown to read ' Commercial company' (rather than Private company) and Change ' State' to read 'Government department or body'
- [x] Change Engineer to ' Engineer/Engineering firm'
- ~~With the extension we should add rename extension to be 'Major extension, restoration, retrofit

[2022-06-20 08:48] edwardchalstrey1 opened #839 "Update Planning section"
- [x] Under Listed buildings  add a 'NHLE list entry link' box for urls
- [x] Activate greyed out boxes
- [x] Change 'Is listed' to 'Is it listed'

[2022-06-20 08:52] edwardchalstrey1 commented on #697
Closing as superseded by other issues

[2022-06-20 08:52] #697 closed

[2022-06-20 12:22] polly64 commented on #685
@matkoniecz
Hi Mateusz
Under both COMMUNITY & PLANNING
- [ ] Add text **Click if you think a planning application is _likely_ to be submitted here**? (PINK);
- [ ] provide test samples to see what we should be colouring to maximise location accuracy e.g UPRN point data combined with OSMM polygon and INSPIRE land parcel?  and OS address data?
- [ ] Can we also integrate an open OS address product?-

[2022-06-24 08:29] edwardchalstrey1 opened #842 "sign-up.html does not redirect to my-account.html when submit button clicked"
When creating an account on the colouringlondon.org site, this results in a blank white screen and you have to refresh

[2022-06-24 13:31] edwardchalstrey1 opened #844 "Copy tool for verification"
Should we enable copying of verification? I would have assumed this should not be the case

[2022-06-24 14:26] polly64 commented on #844
Hi ed, yes no copying of verification is needed except actually in current land use section where we want people to verify over a million domestic buildings so would be useful
P

Polly Hudson
Senior Research Fellow, The Alan Turing Institute
Project Lead:  Colouring Cities Research Programme
https://www.turing.ac.uk/research/research-projects/colouring-london-and-colouring-cities-research-programm

[2022-06-24 15:01] #737 closed

[2022-06-27 11:23] polly64 opened #845 "ASG meering/testing feedback"
Hi Alden please just add any issues/feedback here:

[2022-06-27 11:46] polly64 opened #846 "data capture method icons"
Icons needed for 4 data capture methods

- Open/existing publicly available datasets
- Automated
- Crowdsourced at building level
- Live streamed

[2022-06-27 15:55] polly64 opened #847 "remove requirement under 'Dynamics' to fill in all fields to save record"
**Describe the solution**
A clear and concise description of what you want to happen.

**Describe any alternatives**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Other context or background information.

[2022-06-27 16:33] polly64 opened #848 "can't save edits on storeys under 'Size'"
**Describe the solution**
A clear and concise description of what you want to happen.

**Describe any alternatives**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Other context or background information.

[2022-06-27 16:50] polly64 opened #849 "Activate address fields in Location category"

[2022-06-27 17:02] polly64 opened #850 "need autosave all on Dynamics"
**Describe the solution**
A clear and concise description of what you want to happen.

**Describe any alternatives**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Other context or background information.

[2022-07-02 06:57] matkoniecz opened #852 "Community - expected application"
@polly64

What is supposed to be an exact text in this? Maybe something like this?

[2022-07-03 18:02] polly64 commented on #852
Hi Mateusz

I think ' Do you expect this site to be affected by a planning application in the near future?'

Polly Hudson
Senior Research Fellow, The Alan Turing Institute
Project Lead:  Colouring Cities Research Programme
https://www.turing.ac.uk/research/research-projects/colouring-london-and-colouring-cities-research-programme

The Alan Turing Institute is the UK's national institute for data s

[2022-07-04 14:21] #848 closed

[2022-07-04 15:03] edwardchalstrey1 opened #854 "Make current use residential go back to blue when "remove" is clicked (trigger refresh)"

[2022-07-04 15:03] edwardchalstrey1 opened #855 "Fix verify counter"
Problem:
The verification counter does not increment when multiple users verify the same field, it gets stuck on 1 or 0.

[2022-07-04 15:05] edwardchalstrey1 opened #856 "Make light view the default for edit mode"

[2022-07-04 15:07] edwardchalstrey1 opened #857 "Remove save edits button"
Change it so that the tick buttons being clicked result in a saved edit for fields, so there is a single step rather than two

[2022-07-04 15:08] edwardchalstrey1 opened #858 "Dynamics section edits"
Make percentage question separate from demolished building record year (can save independently)

[2022-07-04 15:10] edwardchalstrey1 opened #859 "Make current land use group categories easier to choose"
- [ ] Alphabetise
- [ ] Remove codes
- [ ] Make dropdown window larger
- [ ] More ambitious: have a point and click interface with graphics to choose which category

[2022-07-04 17:19] matkoniecz commented on #852
@polly64

It is now deployed and working (also, banner in Planning section).

[2022-07-04 17:19] #852 closed

[2022-07-05 11:33] polly64 opened #860 "core storeys under 'Size' doesn't save properly"
Hi @edwardchalstrey1  the save edits button doesn't seem to be active when I click on core storeys. I entered a number and it didn't seem to allow me to press and save - blue seemed fainter, didn't appear to refresh- but when i returned it does register- almost feels like the same problems as we were having with the sign in- i.e. u feel it isn't saved but it is

[2022-07-05 12:00] polly64 opened #861 "Can't copy and paste all says invalid parameter"
Trying to copy all selected on Worship street (shown coloured under Team section. says invalid parameter-

[2022-07-05 14:29] polly64 opened #862 "add ' who built the extension?"
If Yes to extension clicked under 'team' allow all same info to be put in - can u put this in milestone high up  too

[2022-07-05 14:49] edwardchalstrey1 commented on #861
@polly64 would you be able to screenshot this as I'm not sure what you mean? You can drag images including saved screenshots into the comment boxes on GitHub

[2022-07-05 14:52] polly64 opened #864 "add 'surveyor' to dropdown list"
add 'surveyor' to dropdown list of 'lead designer' under team

[2022-07-05 14:56] edwardchalstrey1 commented on #849
@polly64 it looks like the "Building number" field in the "Location" category is already limited to alphanumeric.

I think what you mean here is to activate these other fields so they can be edited?
<img width="464" alt="Screenshot 2022-07-05 at 15 55 18" src="https://user-images.githubusercontent.com/5486164/177357332-b3516cbc-1bd1-4b97-bcb1-e3ddb53c7cf7.png">

[2022-07-05 15:26] polly64 opened #865 "Add items to 'Age' category (for top milestones)"
Add

- [ ] Extension date/s - and for each extension date have source
- [ ] Refurbishment date/s + source
- [ ] date of cladding (where added later)+ source
- These dates should link to Team  section so that info on teams for each can also be collected :

Under 'Team' for extension date  and refurbishment date- add options for 'architect' and 'builder' and source
For cladding- 'installer'

[2022-07-05 15:40] #849 closed, assigned to nobody

[2022-07-05 15:41] edwardchalstrey1 commented on #849
@polly64 you can ignore the above, I have implemented this now :)

[2022-07-05 16:00] polly64 opened #867 "reduce gap between words 'Street' and 'Context' on main category grid so fits better in box"
add to top milestones

[2022-07-05 16:07] polly64 opened #868 "activate addresses"
activate all unactivated address categories but  can you add a security step by only allowing specific number of characters/numbers of letters as appropriate for each

[2022-07-05 16:12] polly64 commented on #861
![invalid parameter screenshot](https://user-images.githubusercontent.com/42236514/177371502-b753c593-e5af-43a5-9ca4-64d3dcf1025c.JPG)

[2022-07-05 16:15] polly64 commented on #849
yes and say make post code only alphanumeric and max 8 digits, and building name/address (both lines) maximum number characters

Polly Hudson
Senior Research Fellow, The Alan Turing Institute
Project Lead:  Colouring Cities Research Programme
https://www.turing.ac.uk/research/research-projects/colouring-london-and-colouring-cities-research-programme

The Alan Turing Institute is the UK's national

[2022-07-06 08:53] edwardchalstrey1 commented on #849
@polly64 yep, postcode is max 8 characters - how many characters do you want to limit the building name/ address to? I feel like this is going to be difficult to constrain sensibly, unless we just do a really big value e.g. 1,000 just to prevent it being infinite - what do you think?

[2022-07-06 08:57] edwardchalstrey1 commented on #861
Ok thanks Polly, I haven't managed to replicate the problem yet - do you remember one of the building IDs where this happened or can you screenshot the values that are being copied?

[2022-07-06 09:25] edwardchalstrey1 opened #869 "Returning to "Edit" or "View" from the copy tool page is broken"
**Describe the problem**
The website forgets which building was clicked on and therefore doesn't show the "edit" or "view" of that building

**To Reproduce**
Steps to reproduce the behaviour:
1. Click a building
2. Click copy
3. Click Copy selected
4. Click "Back to edit" or "Back to view"

**Expected behaviour**
Should return to the edit or view mode of the selected building

**Screenshots**
![Sc

[2022-07-06 09:31] polly64 commented on #861
![ID](https://user-images.githubusercontent.com/42236514/177519078-18ce0333-9c88-4ebe-9d91-a9a41eb68f5c.JPG)
![worship street](https://user-images.githubusercontent.com/42236514/177519097-d28e3d3a-0df0-446e-a2fe-b65608bcff49.JPG)

[2022-07-06 09:31] polly64 commented on #861
@edwardchalstrey1 in meetings til 12 but do send me any other queries

[2022-07-06 09:39] edwardchalstrey1 commented on #861
Ok, on the 2nd one, it's not liking that you used an ampersand `&` <- I'll take a look why this is, doesn't seem like we should reject all alphanumeric characters

[2022-07-06 09:41] polly64 commented on #849
@edwardchalstrey1 thanks great re post code . Let's restrict address to one line of 30 characters which must have a space (i.e. gap for street/road to be added) we have post code so findable with road and number. Also- urgently- could you make the 'building name' to say ; add link for building name if any' and then make it only possible to add a link here not free text. This is where OSM had a lot

[2022-07-06 09:42] polly64 commented on #861
@edwardchalstrey1 ah ok thanks, also I am free til 11 am now

[2022-07-06 14:35] edwardchalstrey1 commented on #849
@polly64 looks like there are separate fields for Street and 2nd line of address, so I have limited them each to 30 characters - not sure we should enforce a space in either as I could imagine edge cases where they are each one word - what do you think?
![Screenshot 2022-07-06 at 15 26 02](https://user-images.githubusercontent.com/5486164/177574324-a0e9ec1b-0d1e-4784-abfa-fa742fbe8473.png)

I'm co

[2022-07-06 15:53] polly64 commented on #849
i just want to put this in temporarily to test it. Because we know it is vulnerable to malicious text. So u can link to houses of parliament site say for now. Most buildings in London won't have a name.

[2022-07-06 15:55] polly64 commented on #849
no dont need source just have link straight in box

[2022-07-06 23:28] aelmekeev opened #870 "Latest data extract is more than 2 months old"
**Describe the problem**
[Latest data extract](https://colouring.london/data-extracts.html) is from Mon Apr 25 2022

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://colouring.london/data-extracts.html

**Expected behavior**
Latest data extract from 1 July / end of June

**More information**
I'm not 100% sure if it's an issue with this codebase. I've actually failed to find the j

[2022-07-07 08:14] polly64 opened #871 "under ' team' allow developer dropdown text to be cleared"
No option to delete text - i have had to choose 'other' option to try to clear
![other](https://user-images.githubusercontent.com/42236514/177725408-0cb23530-4482-4ac1-97e1-e171b621adbc.JPG)

[2022-07-07 08:17] polly64 commented on #870
thanks for your comment, engineering team will get back, and for your positive comments on project. We would welcome any open data contributions.

[2022-07-07 08:31] polly64 opened #872 "Team- add options for area of expertise for builders - significant other"
Add text option under each significant other builder added for what they did i.e. engineering, cladding,
![team significant others](https://user-images.githubusercontent.com/42236514/177728912-0bac27ef-9d6a-4a3d-9088-cbed18b31368.JPG)

[2022-07-07 09:37] edwardchalstrey1 commented on #849
@polly64 I've done this now and renamed the field and tooltip to make it clearer what we're asking for - let me know if you want to change anything:
![Screenshot 2022-07-07 at 10 37 19](https://user-images.githubusercontent.com/5486164/177743017-fe059e49-d58a-47aa-be6d-614344154182.png)

[2022-07-07 09:44] edwardchalstrey1 commented on #842
@polly64 sorry I'm not going to have time to fix this this week now as I'll need to devote some time to my other project

@matkoniecz @tomalrussell if you can see an fix to this, I started working on a branch #874 - you can see my attempts to either:

1. `<Redirect to="/my-account.html" />` after signup
2. `login({ username, password });` immediately after signup

[2022-07-07 09:46] edwardchalstrey1 commented on #842
@polly64 As I mentioned before, after someone signs up, the blank screen doesn't prevent them from going to https://colouringlondon.org/ and logging in with their credentials

[2022-07-22 09:48] #740 closed

[2022-07-22 10:53] edwardchalstrey1 commented on #855
@tomalrussell @matkoniecz I took a look at this today but it's unclear to me how we currently get the verification number from the database - is it possible this was never implemented?

Trying to trace through the codebase where/how we can load the count from the `building_verification` table:

1. https://github.com/colouring-cities/colouring-london/blob/master/app/src/frontend/building/data-compo

[2022-07-22 15:28] edwardchalstrey1 opened #876 "Add multiple "Extension" options in Team category"
With the extension we should rename extension to be 'Major extension, restoration, retrofit or refurbishment?'

When you click on this section it should then give option to tick any of these 4 options separately or all. Once ticked it should give the option to fill in all subcategories as we have them for the main building - to autolink to 'Age also

[2022-07-22 15:36] #838 closed

[2022-07-22 15:49] tomalrussell commented on #855
See #878 which has a change (should be a fix for this) to the code which counts up verifications - they get tacked on to the building object and returned via an API call.

[2022-07-25 08:24] #855 closed

[2022-07-25 08:34] #842 closed

[2022-07-25 08:43] #837 closed

[2022-07-25 09:18] edwardchalstrey1 opened #880 "Make errors on live site more informative"
For example, the below error occurs because what's entered into the id field is not numeric, but the error message doesn't explain that:
<img width="462" alt="Screenshot 2022-07-25 at 10 17 02" src="https://user-images.githubusercontent.com/5486164/180742974-07572ef0-a479-46ba-a744-34306d281179.png">

[2022-07-25 09:18] edwardchalstrey1 opened #1462 "Making errors on live site more informative"
For example, the below error occurs because what's entered into the id field is not numeric, but the error message doesn't explain that:
<img width="462" alt="Screenshot 2022-07-25 at 10 17 02" src="https://user-images.githubusercontent.com/5486164/180742974-07572ef0-a479-46ba-a744-34306d281179.png">

[2022-07-25 10:47] #839 closed

[2022-07-26 09:36] edwardchalstrey1 commented on #815
Ideas:

- Person icon for crowdsourced
- Computer icon for computationally inferred
- Another icon for publicly available data

[2022-07-26 09:59] edwardchalstrey1 opened #882 "Displayed value should be that with highest verification number"
... or the most commonly entered value, rather than the most recent

[2022-07-26 10:01] edwardchalstrey1 commented on #815
`AlanTuring_ComGenTest` has some computational edits already

[2022-07-26 11:37] tomalrussell commented on #882
This is not at all obvious to me - why should the displayed value not be the most recently edited?

What implications does this have for editing flows, from a user perspective:
- What happens when I edit an already-verified value? Does that new value show in any way?
- How do I see if a non-verified or less-verified value has been set?
- If one value is verified, how can I assert that another valu

[2022-07-26 11:47] tomalrussell commented on #516
Closing as older duplicate of #807

[2022-07-26 11:47] #516 closed

[2022-07-28 12:55] edwardchalstrey1 commented on #859
I realise this was already looked at see #785 and decided against for technical reasons

[2022-08-01 09:24] matkoniecz opened #884 "Planning visualisation tool questions"
# Questions

- [x] Section Title (under Planning category): _Planning Application Status_
- [x] Add Disclaimer - to be agreed

**In  Green box** **(automated)**
- [x] Add title for box  _'Local Authority planning information'_ and add items below
- [x] Add _'Data Source'_: The Planning London DataHub Greater London Authority plus hyperlink
- [x] Add _'Planning Application ID'_
- [x] Add '_Most rec

[2022-08-01 15:12] fallipalaiologou commented on #884
@polly64 we currently call the section 'Planning Status' see [here](https://colouringlondon.org/view/planning/2478530). Should we leave as is or rename to 'Planning Application updates' ?

[2022-08-01 15:35] polly64 commented on #884
@fallipalaiologou  I think probably a compromise is good i.e. Planning Application Status.

[2022-08-01 15:37] polly64 commented on #884
@fallipalaiologou   I have also added a section which says is there a planning application submitted for this site above

[2022-08-01 15:46] fallipalaiologou commented on #884
@polly64 yes, we can do that but then it would be good if we could visualise these entries with a different colour to distinguish from official data? (or find another way to distinguish them)

[2022-08-02 11:14] matkoniecz commented on #884
@polly64

https://www.london.gov.uk/what-we-do/planning/digital-planning/planning-london-datahub - right?

[2022-08-02 11:49] polly64 commented on #884
@matkoniecz actually would use this link as takes them straight to data
https://data.london.gov.uk/dataset/planning-london-datahub?_gl=1%2aprwpc%2a_ga%2aMzQyOTg0MjcxLjE2NTk0NDA4NTM.

[2022-08-02 14:05] #870 closed

[2022-08-02 14:14] matkoniecz commented on #870
Regular extracts will be now working again.

I triggered one manually right now and it is listed at https://colouring.london/data-extracts.html .

Thanks for reporting this!

[2022-08-04 09:30] edwardchalstrey1 commented on #815
I've started the above on branch `auto-methods`

[2022-08-09 09:04] edwardchalstrey1 commented on #844
I've started the above on a branch called `copy-purple`

[2022-08-16 10:54] edwardchalstrey1 opened #890 "https://discuss.colouring.london/ is down"
Hi @tomalrussell - this site appears to be managed separately from colouringlondon.org but @polly64 is unsure what the login details are - is it wordpress or similar?

[2022-08-16 13:09] edwardchalstrey1 opened #891 "Ed -> Mike handover checklist"
Key links for Mike to bookmark:

- The site: https://colouringlondon.org/
- Polly’s manual for the CCRP: https://github.com/colouring-cities/manual/wiki/A.Overview-and-research-questions
- Repo containing scripts we use in the Azure VM hosting production version of Colouring London (the website): https://github.com/colouring-cities/colouring-london-config

Ed TODOs:

- [x] Figure out whether Turin

[2022-08-16 13:23] edwardchalstrey1 commented on #891
Hi @mdsimpson42 don't worry about these items right now, I'm just making a list ahead of our chat next week

[2022-08-16 13:57] edwardchalstrey1 opened #892 "Add London/Birmingham energy performance certificate (EPC) data"
@iagw has uploaded data at: https://github.com/iagw/colouring-cities

The dataset is split into two parquet files – which have the GLA (Greater London Authority) local authorities and the West Midlands Combined Authority local authorities.

The data has been reduced to the following columns:

[code]

### Prerequisite

- [ ] #815

### Task

- [ ] Create script(s) to add the above EPC data fields in

[2022-08-16 14:03] edwardchalstrey1 commented on #892
@polly64 @iagw can you advise/remind me whether the new fields we can get from this data, presumably `'CURRENT_ENERGY_RATING', 'LODGEMENT_DATE', 'FLOOR_LEVEL', 'CONSTRUCTION_AGE_BAND', 'EPCDatafromFile' should be added to an existing category or a new category?

[2022-08-16 14:58] iagw commented on #892
Thanks @edwardchalstrey1, @polly64 and @ dayjkbham
the floor level was more for internal consideration - rather than thinking at this stage it would be useful to put into the data - however, if it seems useful - then it could be of use. FYI - i've seen the floor level change between subsequent EPC surveys for the same UPRN
'Lodgement date' perhaps the subcategory could be 'epc lodgement date' to p

[2022-08-18 15:40] edwardchalstrey1 commented on #815
# Automated methods examples

- Begin to work on algorithms beginning by one to automatically geolocate and colour groups of domestic garages (simplest form) which have two or more rectangular ground plans of a very similar shape and size joined parallel to each other (see below)
- #817

![garages](https://user-images.githubusercontent.com/42236514/165716390-6baf5ec0-0dac-4c97-a699-c23de12db475.JP

[2022-08-18 16:33] polly64 opened #894 "PI simple tool to adjust interface text"
Platform would be much more efficient if we could find a way of making it v easy for non-coder PIs to adjust text on core platform- this will also allow working groups for each of 12 categories to co-work to add new subcategories  and adjust text. Activation of subcats can be done by S/e teams.

[2022-08-23 12:37] tomalrussell opened #895 "Migrate discuss.colouring.london to Azure VM"
The forum site at discuss.colouring.london is hosted on a Digital Ocean droplet outside of the project.

We should migrate this to an Azure VM (or remove it if not required).

Requirements - 1 or 2GB RAM, 2 vCPUs burstable, 50GB disk should be plenty.
- [ ] create Azure VM
- [ ] install discourse https://github.com/discourse/discourse/blob/main/docs/INSTALL-cloud.md
- [ ] create backup and restore

[2022-08-23 12:38] tomalrussell commented on #890
I assume the problem seen was the expired certificate, which has now renewed so we can close this.

The forum runs [discourse](https://github.com/discourse/discourse) and we should migrate it to an Azure VM within the Turing subscription - I've created #895 for this.

[2022-08-26 10:30] tomalrussell commented on #815
There are scripts which run against the API which have been used for bulk uploads - e.g. https://github.com/colouring-cities/colouring-london/blob/54a40d3d8c07af5b90d0c3f979a0c561e0f931b6/etl/join_building_data/load_csv.py
- loop over rows of data from e.g. a CSV
- GET to find the building to edit (by location, UPRN, TOID...), possibly to check what data is already on the site
- POST to add/edit d

[2022-08-26 13:06] edwardchalstrey1 commented on #815
^ brilliant, great to see there is a precedent for bulk uploads against the API.

thanks for the suggestions on source type too - will need to think carefully about best approach

[2022-08-29 09:10] fallipalaiologou commented on #884
@matkoniecz @polly64 In case a polygon does show any data (i.e. it is not coloured), then what info to put in Green Box? Perhaps as follows:

- [ ] Show Section title: 'Planning Application Status'
- [ ] Show 'Disclaimer: data is imported from the official source, but Planning London DataHub is known to be incomplete."
- [ ] Show message: "No live planning data available currently for this buildin

[2022-08-29 09:53] fallipalaiologou commented on #884
@matkoniecz for conservation area layer, please edit the text to show citation:

- [ ] Show conservation area boundaries from '[English Conservation Area dataset 2020](http://www.bedfordpark.net/leo/planning/)' by Ian Hall.

[2022-08-30 08:20] polly64 commented on #884
@fallipalaiologou @matkoniecz
hi think this one should be change to

Show 'Disclaimer: Planning application status is visualised using data uploaded by local authorities to the Greater London Authority's Planning London DataHub (add link). Please note that these data are currently incomplete and also often do not provide information on minor alterations. For comprehensive information on all applic

[2022-08-30 09:54] matkoniecz commented on #884
Should it be also https://data.london.gov.uk/dataset/planning-london-datahub?_gl=1%2aprwpc%2a_ga%2aMzQyOTg0MjcxLjE2NTk0NDA4NTM ?

[2022-08-30 10:08] polly64 commented on #884
yes that's good

[2022-08-30 13:43] edwardchalstrey1 opened #899 "Draft some notes for the manual on "How to run/manage a Colouring Cities website""
e.g. there should be some general guidance based on the Colouring London setup that other projects could roughly follow:

- Deploy the Node application on a cloud computing environment such as Azure, AWS, or on your own servers
- Manage Azure/Cloud Credits so that website stays live

The level of detail and hand-holding that this includes should probably be determined after chatting with PIs/engin

[2022-08-30 13:48] polly64 commented on #891
@edwardchalstrey1 thanks

[2022-08-31 09:17] edwardchalstrey1 commented on #891
Just to update you both on the database backup situation: the database is being saved and backed up daily, with copies older than 6 days being deleted. Sorry for causing any confusion on this Polly, but there's no problem!
@mdsimpson42, once you are set up on Azure, you can download a recent copy of the database for use on your local instance of Colouring London. This is what I did when I got star

[2022-08-31 11:29] mdsimpson42 commented on #891
@edwardchalstrey1 I've set up access to the Turing, and can confirm that I can access the SharePoint folder! 👍

[2022-09-14 12:08] matkoniecz opened #900 "name valid_date"
Registered by the planning authority

Registered?

Processed? (unclear)

Validated? (too close to "Approved")

[2022-09-14 12:10] matkoniecz opened #901 "Meaning of "No Objection to Proposal (OBS only)" in planning applications is unclear"
In conclusion it is unclear and it is unsure what it means  - "No Objection to Proposal (OBS only)" maybe it means that it is approved but we are unsure, maybe it means that it is rejected

[2022-09-14 12:11] matkoniecz opened #902 "Show id for all planning applications"
check how this ids are now named "planning portal id"

create link to planning application

remove from green box

[2022-09-14 15:12] matkoniecz opened #903 "How long crowdsourced info about "current" should be considered as relevant?"
For example

[2022-09-14 15:19] matkoniecz opened #904 "Certainty/uncertainty in predictions of demolitions or applications"

[2022-09-14 15:25] matkoniecz opened #905 "Planning portal link - if possible: stream and lock"

[2022-09-14 15:30] matkoniecz opened #906 "Unknown -> Marked as unknown (in planning application map view)"

[2022-09-14 15:30] matkoniecz opened #907 "Submission date missing in data hub API response"

[2022-09-14 15:32] matkoniecz commented on #907
migrated to https://github.com/colouring-cities/manual/issues/4 as not actionable by coding

[2022-09-14 15:35] matkoniecz opened #908 ""Local authority planning application link" into green box, below "Decision date""

[2022-09-14 15:40] matkoniecz opened #909 "Show "affected by a planning application" visualisation in planning section"
remove `see the data visualised, and` to `also` from blue box

keep in community

[2022-09-14 15:42] matkoniecz opened #910 "Switch map to relevant display and decide when it should happen"
editing

should switch to relevant visualisation

[2022-09-15 11:41] matkoniecz opened #911 "remove building.planning_portal_link column (as part of live data change)"
should contain no data and should be safe for removal

[2022-09-15 11:42] matkoniecz opened #912 "Change missing fields in planning data from "unknown" to "not available""
and also the same for link

[2022-09-15 11:45] matkoniecz opened #913 "planning visualisation: Unknown -> Other, show there applications with unusual status"

[2022-09-15 11:47] matkoniecz opened #914 ""Show full description" should look more buttonlike"

[2022-09-15 11:56] matkoniecz opened #915 ""Has the work on this site been completed?" and "Year of completion" need verification buttons"

[2022-09-15 12:22] matkoniecz opened #916 "Planning has alert section at top, as result "Planning Application Status" header has not enough white space above it, unlike header in Age section"

[2022-09-15 12:38] matkoniecz opened #917 "Analyse "Yes/No" / "Yes" / checbox treatment of boolean entries"

[2022-09-15 13:07] matkoniecz opened #918 "Designation section in Planning - two entries not working properly (Architectural Priority Area tier, NHLE list entry link)"
"Architectural Priority Area tier" and "NHLE list entry link" are not working (impossible to enter any data, tried with `https://example.com` for link and `aaa` for tier.

Tested on https://cl-staging.uksouth.cloudapp.azure.com/edit/planning/2478530 - other entries appear to work after basic testing

Maybe "Architectural Priority Area tier" expects specific values and should be a dropdown

[2022-09-15 13:11] matkoniecz opened #919 "Designation section in Planning - id entries demand integers, cryptic errors on text"
Entry "Heritage at risk list id": try to enter "111A" or "six"

It fails with "Database error" instead of clear error

[2022-09-15 13:23] matkoniecz opened #920 ""Heritage at risk list id" > "Heritage at risk link""

[2022-09-15 13:30] matkoniecz opened #921 "Make some entries in Planning section invisible to user, decide on further action"
<details>
  <summary>Removed code</summary>

[code]
</details>

"National Heritage List for England list id" and "National Heritage List for England list type" should be removed and @polly64 will decide on further actions (return them or remove also backing code)

[2022-09-15 13:42] matkoniecz opened #922 "special features for "Is the building listed on the National Heritage List for England?" id"
- only if answer is giving id then show extra questions

- if other data is present like listing grade, then it should be impossible to mark it as not listed

[2022-09-15 14:00] matkoniecz opened #923 ""Local list link", "Historic area assessment link" in Planning should accept only links"

[2022-09-15 14:01] matkoniecz opened #924 ""Within a historic area assessment?" remove completely, including database column and other backing code"
there should be no data collected for that in database

[2022-09-15 14:06] matkoniecz opened #925 "Redesign interface about protection types"
<details>
  <summary>Mockup of changes</summary>

[code]
</details>

 "World heritage list id" -> "Is the building classified as a World Heritage Site?" and accept only links

The same for local listing, Greater London Historic Environment Record that should ask

on link only field

"Is the building listed on the National Heritage List for England?" + "NHLE list entry link" -> merge into one and a

[2022-09-20 09:04] polly64 commented on #925
@matkoniecz @fallipalaiologou

On the designation and protection the next stage of iterations are :

1. Change 'locally listed' to 'Is it a Locally Listed Heritage Asset?'
2. Change building at risk to 'Is it on the Heritage at Risk register?'
3. Remove all acronyms
4. Link text descriptions for each designation type to a website page so  in each question these are shown blue and clickable-
- user

[2022-09-20 11:57] matkoniecz commented on #921
Decision from meeting: replace "Is locally listed?" boolean data with fake link like `http://please-replace-with-real-link`

[2022-09-20 13:08] matkoniecz commented on #925
it should be "Historic Area Assessment" - right?

[2022-09-20 14:21] matkoniecz opened #926 "Planning - Scheduled Monuments - Polly to speak with HE"
@polly64

[2022-09-20 14:35] matkoniecz commented on #926
Also discuss battlefields, wrecks and registered parks.

[2022-09-20 14:37] matkoniecz commented on #926
Bring up as unusual designations, other than I, II, II*

[2022-09-20 14:39] matkoniecz opened #927 "Planning -> What is its grade?: add option "Other""
see https://github.com/colouring-cities/colouring-london/issues/926#issuecomment-1252452994

[2022-09-20 15:15] matkoniecz opened #928 "Map of protection methods in Planning section - handling buildings where multiple types apply (colours)"
From meeting:

Current solution uses outlines to ensure that all relevant colours are visible.

It is no longer working as number of colours increases.

Still, overall adding more categories is a good thing, but ideally this would be resolved somehow.

[2022-09-20 20:46] matkoniecz commented on #921
notes from meeting:

"Is the building on the National Heritage List for England?" / "NHLE list entry link" - `planning_nhle_link` - no data stored, changing data format without migrating data

"In an Architectural Priority Area?" [SIC!] "Archaeological Priority Area" - `planning_in_apa` - just removed as empty and invalid

"World heritage list id" `planning_world_list_id` - if set, then convert =

[2022-09-21 08:32] matkoniecz commented on #921
replaced by https://github.com/colouring-cities/colouring-london/issues/925#issuecomment-1252458663 redesign issue

[2022-09-21 08:32] #921 closed

[2022-09-21 11:05] matkoniecz commented on #921
"National Heritage List for England list type" `planning_list_cat` - also cleared for deletion (was imported, can be reimported)

[2022-09-21 11:19] matkoniecz commented on #926
It is very useful when it is possible to link specific object using just its listed id.

For example https://historicengland.org.uk/listing/the-list/list-entry/1080446?section=official-list-entry can be linked using just `1080446` id.

[2022-09-21 14:57] matkoniecz opened #929 "User should not be able to blank work by other mappers, only replace"
Expected: user edits objects (for example "land use"), removes building classification, leaves it blank, saves - and edit is refused

What happens: edit is not refused

It likely is implemented but disabled/reverted and that was intended to be temporary (per @polly64)

[2022-09-21 18:37] matkoniecz commented on #917
`LogicalDataEntryYesOnly` is not showing "No", but it has in my opinion a noticeable usability problem:

meaning of following state is unclear, at least to me:

![screen06](https://user-images.githubusercontent.com/899988/191584052-0b3d889c-4ffe-4506-b555-d6f5c3ca97fc.png)

It does not mean "yes", it means "unset". Maybe may be worth asking some people how they interpret it.

[2022-09-21 22:44] matkoniecz commented on #927
@polly64

How it should appear in Designation/protection legend?

As "Other Listed"? "Grade ? Listed"

[2022-09-21 23:24] matkoniecz commented on #913
done

[2022-09-21 23:24] #913 closed

[2022-09-21 23:24] matkoniecz commented on #912
done

[2022-09-21 23:24] #912 closed

[2022-09-22 10:08] polly64 opened #931 "add borough boundaries"
Add borough boundaries so clearly visible which local authorities have and haven't uploaded planning data

[2022-09-22 13:27] matkoniecz opened #932 "Handling multiple planning applications for one building geometry"
Scenarios that can lead to that:

- old approved/rejected application, new one gets submitted
- building with multiple owners
- ...

Current decision: on the map show colour in the latest one

Possible changes: show outline (to take decision which gets main colour and which outline)

Upcoming complication: how to handle having both crowdsourced application and official one

[2022-09-22 13:35] matkoniecz opened #933 "Include autogenerated specific entry listings in Planning"
@polly64

Can you try to track down links to specific entry listings for

 - [x] "Is the building on the [National Heritage List for England](https://historicengland.org.uk/advice/hpg/heritage-assets/nhle/)?" - https://historicengland.org.uk/listing/the-list/list-entry/1080446?section=official-list-entry
 - [ ] "Is it on the [Heritage at Risk](https://historicengland.org.uk/advice/heritage-at-risk

[2022-09-22 14:37] matkoniecz opened #934 "Expected planning application -> Expected planning applications map layer name"

[2022-09-22 14:40] matkoniecz opened #935 "Redesign interface for planning applications crowdsourced info"
![jhhudchuduhdudhuduhdhuduh](https://user-images.githubusercontent.com/899988/191777325-50903abd-292f-4475-9150-7e8dc3393ee4.png)

old, outdated:
![screen](https://user-images.githubusercontent.com/899988/197042509-2607aa6b-45fe-4600-979f-c48defa2da8e.png)

[2022-09-22 14:52] matkoniecz commented on #933
What is the id format: pure numbers or is say 106a also a potential id?

[2022-09-22 14:54] matkoniecz commented on #933
@polly64

https://cl-staging.uksouth.cloudapp.azure.com/edit/planning/2956004 - can you simply give example of links that user would put as answer, in currently deployed staging version. That would answer my need for "links to specific entry listings"

[2022-09-22 15:08] matkoniecz commented on #933
@polly64

Can you write text for "How to find iD" minitutorials?

[2022-09-22 15:12] matkoniecz commented on #933
Ideally this boxes here would narrow, with link on the right side. Not promising this version, will try to implement

![Untitled](https://user-images.githubusercontent.com/899988/191785103-a13b56ae-a058-4903-9360-2bcbecd11953.png)

[2022-09-23 09:02] polly64 opened #936 "long -term personalised global map allowing you to add in data for places you have been"
Any thoughts on this?

[2022-09-23 14:03] matkoniecz commented on #933
@polly64

It looks like this:

![screen27](https://user-images.githubusercontent.com/899988/191978647-4ec11ff7-64b9-4c85-b34f-d462bde21556.png)

[2022-09-23 14:05] matkoniecz opened #937 "Some forms do not have rounded corners - is it deliberate?"
@polly64

Or should it be changed so all forms have round corners?

![screen28](https://user-images.githubusercontent.com/899988/191978869-45c0c69d-0721-4be7-8591-ff611f1ea3d3.png)

[2022-09-23 14:12] polly64 commented on #933
@matkoniecz round corners better if we use them elsewhere. Can we get the 2 boxes next to each other? with ID to left and hyperlink to word 'ID Link' to right  Can you also send me the github issue link for the ID's i need to check? - can't seem to find it

[2022-09-23 14:17] polly64 opened #938 "IDs for planing"
**Describe the solution**
A clear and concise description of what you want to happen.

**Describe any alternatives**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Other context or background information.

[2022-09-23 14:35] matkoniecz commented on #933
I will put note about round corners in #937 (apparently general text and numeric fields do not have them...)

@polly64 see https://github.com/colouring-cities/colouring-london/issues/933#issue-1382467697 (in this issue)

![screen29](https://user-images.githubusercontent.com/899988/191985376-82353baf-e864-42c2-8022-fcfe828b78ae.png)

[2022-09-23 14:40] matkoniecz commented on #938
https://cl-staging.uksouth.cloudapp.azure.com/edit/planning/2956004 - can you simply give example of links that user would put as answer, in currently deployed staging version?

for "Is the building on the [National Heritage List for England](https://historicengland.org.uk/advice/hpg/heritage-assets/nhle/)?" it could be https://historicengland.org.uk/listing/the-list/list-entry/1080446?section=off

[2022-09-23 14:54] polly64 commented on #938
@matkoniecz have just written to HE with queries and will add whatever links I can now but some are problematic

[2022-09-23 15:01] polly64 commented on #938
@matkoniecz  still saying database error  when i add NHLE link.

[2022-09-23 15:19] matkoniecz commented on #938
Great!

In which way? There is no id? There is no possibility to provide link at all

should work now

[2022-09-23 15:23] polly64 commented on #938
@matkoniecz comemnts above

[2022-09-23 15:44] polly64 opened #939 "change order of 'other' designation items"
Hi @matkoniecz could u, so more in line with key reorder items in 'other' designation section so order reads
1. World Heritage Site
2. Archaeological Priority Area
3. Locally listed building
4. Historic Environment Record
5. Heritage Area Assessment
thanks

[2022-09-23 15:52] polly64 commented on #938
@matkoniecz - I.m actually not sure we are going to be able to get IDs or links for heritage assessment or the Historic environment record - I can't seem to find any but we can wait for HE response
- you can only get PDF links for APAs  and for conservation area (appraisals) but no central database like NHLE
- For heritage at risk appears to be no database just a website you scroll through with NH

[2022-09-23 15:58] polly64 commented on #938
@matkoniecz so I think we are going to have to pause on some of this while we wait for HE. But we should still prioristise

[ ]  reorder as issue 939

- [ ]do the ID links just for Listed buildings and WHS.

- [ ] For APAs and locally listed buildings we  just need to be able to add PDF links for the moment.

- [ ] For CAs there is an ID and there are PDF appraisal docs for each conservation area

[2022-09-23 20:27] matkoniecz commented on #939
@polly64
I reordered them, while keeping current entries and names:

![screen30](https://user-images.githubusercontent.com/899988/192051472-fe91f064-34ec-46bf-b9bc-ad64c92eb83a.png)

is it expected? Or should I also rename them and add this one extra entry?

[2022-09-24 11:23] matkoniecz commented on #938
@polly64

Done, I think (please look at staging or https://github.com/colouring-cities/colouring-london/issues/939#issuecomment-1256641868 is it what you expected - or is more that reorder needed)

So for WHS link like https://whc.unesco.org/en/list/488 is expected, right? (you can see how it works on staging)

So no change needed, from the current amorphous link input?

So introduce id field and

[2022-09-24 11:26] matkoniecz commented on #919
done as part of #925

[2022-09-24 11:26] #919 closed

[2022-09-24 11:26] matkoniecz commented on #920
will be done as part of #925 (and is implemented already)

[2022-09-24 11:26] #920 closed

[2022-09-24 11:26] matkoniecz commented on #923
will be done as part of #925 (and is implemented already)

[2022-09-24 11:26] #923 closed

[2022-09-24 11:28] matkoniecz commented on #906
made obsolete by ending with them as "Other"

[2022-09-24 11:28] #906 closed

[2022-09-24 11:29] matkoniecz commented on #918
will be done as part of #925 (and is implemented already there but waiting for PR)

[2022-09-24 11:29] #918 closed

[2022-09-24 11:30] matkoniecz commented on #927
@polly64 ping

[2022-09-24 11:31] matkoniecz commented on #937
per https://github.com/colouring-cities/colouring-london/issues/933#issuecomment-1256269206 we should have round corners also here

[2022-09-24 11:38] matkoniecz commented on #937
@polly64 What about login form? Should it be also changed?

![screen32](https://user-images.githubusercontent.com/899988/192095926-505ed3c5-ec0d-40f4-ba6c-b072495c5cf5.png)
![screen31](https://user-images.githubusercontent.com/899988/192095929-9ab6ff8c-49b0-4a5a-a1ab-60bc71a40648.png)

[2022-09-24 17:56] matkoniecz commented on #924
will be done as part of #925 (and is implemented already)

[2022-09-24 17:56] #924 closed

[2022-09-24 20:54] polly64 commented on #937
@matkoniecz no its not deliberate, fine to make all the same

[2022-09-24 20:58] polly64 commented on #939
@matkoniecz sorry not clear on question. We just need to reorder the above so in order on first comment
so the following order

    World Heritage Site now first and then
    Archaeological Priority Area
    Locally listed building
    Historic Environment Record
    Heritage Area Assessment

[2022-09-24 20:59] polly64 commented on #927
@matkoniecz 'Other grade'

[2022-09-24 21:05] polly64 opened #940 "Planning category- add disclaimer to designation map"
**Describe the solution**
A clear and concise description of what you want to happen.

**Describe any alternatives**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Other context or background information.

[2022-09-25 13:17] polly64 opened #942 "urgent issue- sign up not working properly"
sign up apparently not taking name.

[2022-09-25 13:31] polly64 commented on #938
yes thanks

yes for the  moment

yes this looks v good

I think we should be explicit as to what they have to do and say in each box 'Please add relevant link here'

So yes have ID field but we can't connect this to a set link so we have to have a link box which has ' Please add CA appraisal link here' written in it

Also please add (CA) after 'conservation area' in question if you think  isn't ob

[2022-09-25 13:38] matkoniecz commented on #942
@polly64 Is it about signing up with a very long username?

I see that for example registering with `aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa` username triggers

without explanation given to user, but registering with a shorter username (`aaaaaaaaaaaaaaaaaaaaaaaaaaaaa`) works fine.

Apparently length limit is off by one.

[2022-09-25 13:41] matkoniecz commented on #942
If that is the problem: then will be fixed by #943

If the problem is different: which exact username was used?

Was sign up on staging or on main server? Or on Colouring server used by Athens or someone else?

[2022-09-25 13:45] polly64 commented on #796
@matkoniecz @fallipalaiologou
Here is the link to the land parcel polygon integration which we briefly talked re integrating a while back. It would be good to look at this at same time as conservation areas now we are coming to next stage especially as very recent  proposed government legislation relaxing planning laws will mean that demand for tools that increase transparency/data relating to pla

[2022-09-25 13:47] polly64 commented on #942
thanks @matkoniecz it was on staging and it was a name without hyphens or numbers but I can ask Mike about this as meeting him tomorrow so don't worry about this one unless something makes immediate sense

[2022-09-25 14:04] polly64 commented on #942
@mdsimpson42 could you possibly

- [ ] check the sign up is working ok on staging and main site - @matkoniecz has had a quick look and thought ok but someone I work with just had trouble getting on
- [ ] also could we change the ' not- your real name' to 'please note the user name you choose will be public' or something like that
- [ ] let's chat re changing 'Please note that if you forget your pa

[2022-09-25 14:34] matkoniecz commented on #940
What should be the text of the disclaimer?

[2022-09-25 14:36] matkoniecz commented on #942
To be clear it is not working 100% OK

If someone is using long possible name allowed by the for then sign up will fail. https://github.com/colouring-cities/colouring-london/pull/943 will fix this

In meantime, as workaround one should select a bit shorter username

[2022-09-25 14:37] matkoniecz commented on #939
@polly64 Oh, I misunderstood and changed things in legend.

Can you look at staging is it displaying what you wanted?

[2022-09-25 16:14] polly64 commented on #939
@matkoniecz yes great

[2022-09-25 16:14] polly64 commented on #942
@matkoniecz ok will ask them to try again

[2022-09-25 16:18] polly64 commented on #940
@matkoniecz   Falli and Taimaz may have other suggestions but for moment let's make it say
'Designation data is currently incomplete. We are aiming for 100% coverage by April 2023.'

[2022-09-25 16:19] matkoniecz commented on #939
OK, then lest merge it into #925

[2022-09-25 16:19] #939 closed

[2022-09-26 07:45] matkoniecz commented on #940
@polly64

Is it referring to Designation/protection layer?

Should it be added to the current

or replace it?

[2022-09-26 07:59] polly64 commented on #940
@matkoniecz  I think  let's a) keep the current disclaimer in the key and b) for moment also put '_Designation data is currently incomplete. We are aiming for 100% coverage by April 2023_.' as a blue box at the end of the designation section and we can discuss tomorrow

[2022-09-26 08:02] matkoniecz commented on #938
Changing `https://...` to `Please add relevant link here` then

I agree, and if there is enough space to fit it, then it is better to include also "please"

So this one remains as the remaining segment, with everything else done.

[2022-09-26 08:05] polly64 commented on #938
@matkoniecz  ok great- let me know when you want me to check things on staging. I also have a meeting with Mike at 12 noon if we want to look at/discuss any pull requests. I can also answer any questions til then

[2022-09-27 09:07] matkoniecz commented on #942
Maybe the strong request to avoid real name was done for GDPR/related reasons?

[2022-09-27 09:15] matkoniecz opened #945 "Add "Report problem" in sidebar"
That should be a page explaining what can be done on encountering problems/bugs/confusing interface

[2022-09-27 09:36] matkoniecz commented on #240
now it is tracked as #796

[2022-09-27 09:49] matkoniecz commented on #796
download link: https://use-land-property-data.service.gov.uk/datasets/inspire/download

[2022-09-27 10:02] matkoniecz commented on #942
@mdsimpson42 - pinging as requested by @polly64

[2022-09-27 21:50] polly64 commented on #796
@matkoniecz @fallipalaiologou
![bm and bedored sq INSPIRE](https://user-images.githubusercontent.com/42236514/192641705-27574e85-bcfb-472a-804b-785bdc349fa1.JPG)
![INSPIRE and land use](https://user-images.githubusercontent.com/42236514/192642212-fbbdc4a7-d9a8-4799-9202-18691db20a60.JPG)
![camden INSPIRE sample](https://user-images.githubusercontent.com/42236514/192642220-c4d79abe-93ff-4907-bc38-d

[2022-09-29 13:59] matkoniecz commented on #938
@polly64 Is this data display fine?

![screen09](https://user-images.githubusercontent.com/899988/193052008-55174714-596a-4ace-870d-62d5fb6190e3.png)

[2022-09-29 14:01] matkoniecz commented on #938
@polly64 Should CA in the first hint text be expanded to the full "Conservation Area" name?

[2022-09-29 14:55] polly64 commented on #938
@matkoniecz looks good but think maybe clearer if we use 'ID' rather than 'identifier. Can u also see if there's a way of linking to the  'like me' may on , community rather Tha the expected application map

[2022-10-03 08:31] mdsimpson42 commented on #942
Done. Sorry, for the delay!

[2022-10-03 08:44] #925 closed

[2022-10-03 08:45] #937 closed

[2022-10-04 15:16] PWhelpdale-RSWT commented on #796
Addition of Land registry polygons/parcels is very useful. However some planning applications may cover multiple polygons so is it possible to either:
1) add functionality that allowed the grouping of multiple polygons on the map to flag as a single planning application?
Or
2) Have an option to allow users to add freehand boundaries for people to draw the full extent of a planning application - th

[2022-10-04 15:23] polly64 commented on #796
@PWhelpdale-RSWT @matkoniecz @fallipalaiologou thanks for this really helpful. We will look at each and update on plan

[2022-10-06 10:02] polly64 opened #948 "Listed buildings Add approx percentage of data visualised & verifications"
Somehow for listed buildings we need to find a way of saying we have x number of points containing list entries and x% of these points have so far been disaggregated and mapped, and x% verified

[2022-10-07 12:13] polly64 commented on #796
@matkoniecz could you update  me and @mdsimpson42 on progress with layers - conservation areas or INSPIRE polgons, thanks

[2022-10-07 23:33] matkoniecz commented on #796
@polly64 I plan to finish INSPIRE demo on Sunday.

[2022-10-09 11:40] polly64 commented on #796
@matkoniecz that's great news- there is already a lot of interest in this feature. I think @mdsimpson42 will contact you next week to chat re this and the new code for the INSPIRE and conservation layers which as you said will be relevant for all categories

[2022-10-10 07:35] polly64 commented on #796
@matkoniecz will you be able to demo today?

[2022-10-11 07:59] polly64 opened #949 "Create new respository called Colouring Cities core"
Hi @mdsimpson42 could you create new repository called Colouring Cities core so we can begin to co-work on content categories with CCRP partners

[2022-10-11 08:14] polly64 opened #950 "CCRP core reporsitory first issue - core category recommended changes"
@mdsimpson42 could you add this issue to the new CCRP core repository. many thanks

- **Issues summary** This issue looks at first stage change and additions to data subcategories as identified by  international CCRP demonstration platform development.
This issue is designed is designed to

- a) record changes required changes to subcategories in country demos
- b) record reasons for this
- c) beg

[2022-10-11 08:27] polly64 commented on #950
Hi @zarashabrina  we are making a new issue for this in the new core repository. Some questions arising

1. Typology: For Indonesia in terms of adjacency rating (Typology) would the classes ' Detached', 'semi-detached', 'in a row' make more sense or something like this. here we are looking at info form of city block and on number of walls likely to be exposed (for energy calculations

2. Typology:

[2022-10-11 08:41] tomalrussell commented on #949
This was actually created in a moment of optimism a couple of years ago: https://github.com/colouring-cities/colouring-core

[2022-10-11 08:41] #949 closed

[2022-10-11 08:43] polly64 opened #951 "CCRP core code repository comment- PH to separate out"
@mdsimpson42 please add to core code repository

From Colouring Indonesia: Access capacity should be improved to be accessible to many people (crowd) at one time. · Building polygons is not the same like in google maps (this problem can only be solved if the database is updated by the data provider), · Some information sections contained in each category still cannot be opened. ·
The zoom feature

[2022-10-11 08:44] polly64 opened #952 "Create CCRP core code repository"
@mdsimpson42 could you create new CCRP core repository so CCRP members can begin to co-work on identifying issues/code required

[2022-10-12 10:07] matkoniecz opened #953 "handling overlapping INSPIRE parcels"
part of #796

INSPIRE parcels can overlap - for example Elizabeth Line has own parcels (`54856897` parcel)

without special handling this parcels can block other surface parcels, or become impossible to select if fully covered with buildings

for minimum version no special handling is needed

ideally they would get special handling

the priority is to avoid making it overly confusing

![screen](ht

[2022-10-12 10:16] matkoniecz opened #954 "INSPIRE: surprising triangles, blank spaces"
part of https://github.com/colouring-cities/colouring-london/issues/796

the most important part is that holes and not matching polygons in INSPIRE visualisation are in cases that were checked present also in original data

this is not a blocker

common cases: some roads especially minor are not covered by any parcels., sometimes there are gaps between parcels and some open areas are not covered

[2022-10-12 10:22] matkoniecz opened #955 "INSPIRE data visualisation"
enable viewing INSPIRE dataset on staging

enable switching display of INSPIRE like dark/light mode

[2022-10-12 10:34] matkoniecz commented on #955
presentation is around 9-11AM Sydney time on 17th (UTC+11) - +10 compared to UK time, +9 compared to Poland local time

[2022-10-12 11:05] matkoniecz commented on #955
![screen03](https://user-images.githubusercontent.com/899988/195326769-ae5dc6cd-8c49-4eeb-81f4-e5854f2ea297.png)

[2022-10-12 11:22] matkoniecz commented on #915
@polly64

It has become inapplicable as this questions were removed. From what I remember total removal was deliberate. Let me know if this questions should reappear.

[2022-10-12 11:22] #915 closed

[2022-10-12 11:24] matkoniecz commented on #900
Ended as "Date registered by the planning authority (validation date): "

[2022-10-12 11:24] #900 closed

[2022-10-12 11:25] #904 closed

[2022-10-12 11:26] #908 closed

[2022-10-12 11:33] #933 closed

[2022-10-12 11:33] matkoniecz commented on #933
was done by #946

[2022-10-12 11:35] matkoniecz commented on #938
was done by #946

[2022-10-12 11:35] #938 closed

[2022-10-12 11:36] matkoniecz commented on #940
done as part of #946 - please, open a new issue if text needs to be tweaked

[2022-10-12 11:36] #940 closed

[2022-10-17 09:32] matkoniecz opened #957 "INSPIRE data editing"
![screen03](https://user-images.githubusercontent.com/899988/195326769-ae5dc6cd-8c49-4eeb-81f4-e5854f2ea297.png)
Do you expect this land parcel to be affected by a planning application in the near future?
Yes
(1 person answered "yes". Last entry in 29/09/2022
What is the type of ownership for this land parcel?
0
Ownership source link

0To see data visualised click on map key and select "Land parce

[2022-10-17 09:32] #955 closed

[2022-10-17 09:32] matkoniecz commented on #957
#955 was done

[2022-10-17 10:18] matkoniecz commented on #955
![screen](https://user-images.githubusercontent.com/899988/196153041-e4229459-1523-471c-ad51-7fa9b51b2d16.png)

[2022-10-24 09:52] #942 closed

[2022-10-27 07:50] #846 closed

[2022-10-28 12:33] polly64 opened #958 "Colouring Indonesia requests"
@zarashabrina have added your comments here.  @tomalrussell @mdsimpson42 any thoughts as how easy to address these issues identified in the Indonesia mapathon?

- Access capacity should be improved to be accessible to many
- people (crowd) at one time.

• Building polygons is not the same as in google maps (this
problem can only be solved if the database is updated by the
data provider),

• Some i

[2022-10-28 15:07] polly64 commented on #958
Hi @zarashabrina does this answer queries ok?

[2022-10-31 11:02] matkoniecz commented on #901
[code]

[2022-10-31 11:08] matkoniecz opened #959 "Planning application portal link: not available - generate it from planning id if possible (item for GLA)"
https://cl-staging.uksouth.cloudapp.azure.com/view/planning/682930

[2022-10-31 11:08] matkoniecz commented on #959
if link generation is impossible - link site of burough planning portal database

[2022-10-31 11:30] matkoniecz opened #960 "Application Under Consideration vs Minded to Refuse"
How "Application Under Consideration" should be treated? As submitted and waiting for review? It is treated this way right now.

But...

https://pam.ealing.gov.uk/online-applications/PLAN/P/2000/0626

[code]

data from livestream:

`"status": "Application Under Consideration",`

[code]

[2022-10-31 11:44] matkoniecz opened #961 "Filter out old planning applications from colouring buildings (item for GLA)"
Approved/Rejected/Withdrawn/Other: older than 1 year? 6 months?

Submitted/Appealed: older than 1 year? All?

[2022-10-31 11:51] matkoniecz opened #962 "Custom layer with an example of an advanced filter (item for GLA)"
secretary by state

[2022-10-31 11:59] matkoniecz commented on #931
(item for GLA)

[2022-10-31 12:06] matkoniecz commented on #961
Active planning applications

All planning applications since 2018

[2022-10-31 12:08] matkoniecz commented on #961
@fallipalaiologou

[2022-10-31 12:24] matkoniecz commented on #959
https://cl-staging.uksouth.cloudapp.azure.com/view/planning/1377846

has link but broken

can link to https://developmentandhousing.hackney.gov.uk/planning/index.html?fa=getApplication&reference=2021/2491 or https://developmentandhousing.hackney.gov.uk/planning/index.html?fa=getApplication&id=71643

[2022-10-31 12:34] matkoniecz opened #963 "planning application stuck in unclear state (after expiry date)"
https://cl-staging.uksouth.cloudapp.azure.com/view/planning/1377846

https://developmentandhousing.hackney.gov.uk/planning/index.html?fa=getApplication&reference=2021/2491

related #901

![screen03](https://user-images.githubusercontent.com/899988/199008825-e00ac523-fdf1-4a0f-a994-dec33b4629c1.png)

[2022-10-31 12:37] matkoniecz opened #964 "planning: verify highway construction permits - is it showing up in datastream? is it showing in visualisation?"

[2022-10-31 12:48] matkoniecz opened #965 "planning: verify based on info from local organization when entries are becoming listed in data stream"

[2022-11-02 14:55] matkoniecz commented on #964
@polly64 Taking https://getinvolved.london.ca/victoriabridge as a test case: it appears to be not listed in data stream at all.

I searched among all descriptions for "Victoria" / "Victoria Bridge" / "through arch" and similar and have not found anything except spurious matches.

Approval process also seems distinct from building construction/modification approval.

It is also relatively standard

[2022-11-02 14:58] polly64 commented on #964
yup let's doc for now in a github issue. Can we reinstate inspire stuff?

Polly Hudson
Senior Research Fellow, The Alan Turing Institute
Project Lead:  Colouring Cities Research Programme
https://www.turing.ac.uk/research/research-projects/colouring-london-and-colouring-cities-research-programme<https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.turing.ac.uk%2Fresearch%2Fresearc

[2022-11-06 05:54] polly64 opened #967 "Integrate GLA planning layers"
@matkoniecz @fallipalaiologou

![planning complete section brief](https://user-images.githubusercontent.com/42236514/200157184-316a445f-77a0-40de-befa-426a09ec6751.JPG)

Additional GLA data available  https://apps.london.gov.uk/planning/?_gl=1*avicz4*_ga*MTg1MjY3MzMuMTY2NzcxMjIwMg..*_ga_PY4SWZN1RJ*MTY2NzcxMjI1NS4xLjAuMTY2NzcxMjI1NS42MC4wLjA.

[2022-11-07 04:53] polly64 opened #968 "planning crashing when accessed by colouring australia"
@matkoniecz @matkoniecz @fallipalaiologou

The site very slow loading, can crash easily and this is when on university fast network, so unable to demo to others easily
@matkoniecz could you list possible reasons for this for matt and how easy they are resolve

[2022-11-07 06:35] matkoniecz commented on #968
@polly64

Is problem appearing on opening specific building? If yes, can link be shared? Or looking at specific region? Is it happening when zoomed in or looking at the entire London?

Is the same problem appearing with another layer?

Which browser and which version was used?

Is it happening when borough and/or parcel layer is enabled?

[2022-11-07 10:01] #962 closed

[2022-11-07 10:02] #961 closed

[2022-11-07 10:20] matkoniecz commented on #968
It seems to be about generation speed.

[2022-11-07 10:41] polly64 commented on #968
hi @mattnkm could you give @matkoniecz  feedback on the above questions?

[2022-11-07 10:49] mattnkm commented on #968
Hi all, so sorry, I didn't see these notifications. Yes, I think the problems are with the tile loading. As I mentioned to Polly, I am not sure whether it is a DB issue or something else, but even with a plug-in ethernet connection at 800 mbs, the website loads slowly for me.

Not happening with the other layers as I can see. Only planning.

Happens with/without the parcel/borough enabled.

I am u

[2022-11-07 12:12] matkoniecz commented on #968
@mattnkm In this case limitation is generation speed of tiles on server, internet speed is not being a limit here.

[2022-11-07 12:23] polly64 commented on #968
@matkoniecz can we help resolve this?

[2022-11-07 12:55] matkoniecz commented on #968
@polly64 There are some ways to make it less problematic.

[2022-11-07 13:01] polly64 commented on #968
@matkoniecz great, think a bit of a priority but let's chat at meeting

[2022-11-07 14:26] matkoniecz opened #971 "which id should be shown"
https://cl-staging.uksouth.cloudapp.azure.com/view/planning/194329

[code]

id seems to be assigned by streaming - is it supposed to be public-facing?

[code]

[2022-11-07 14:28] matkoniecz opened #972 "how long approved applications should be visualised?"

[2022-11-07 14:56] matkoniecz opened #973 "502 Bad Gateway at staging"
https://cl-staging.uksouth.cloudapp.azure.com/view/planning

@tomalrussell @mdsimpson42 Can you look into Azure console is there any indicator of things going wrong way? (I do not have an access to Azure console)

`pm2 logs` are not showing problems when connected

rebooting server with `sudo reboot` worked for few minutes, then problem started again

---------------

now I see

[code]

in logs

[2022-11-08 15:05] matkoniecz commented on #959
it is now generated where possible, often it is sadly a generic link :(

question how to obtain more specific one is listed in #970

[2022-11-08 15:05] #959 closed

[2022-11-08 16:04] #307 closed

[2022-11-08 16:04] matkoniecz commented on #307
superseded

[2022-11-09 12:40] #901 closed

[2022-11-10 09:23] matkoniecz commented on #971
@polly64

Feedback from meeting was that `lpa_app_no` should be used so I will change it.

[2022-11-10 10:48] polly64 commented on #971
@matkoniecz ok

[2022-11-18 14:15] polly64 commented on #796
Hi @PWhelpdale-RSWT prgress at staging https://cl-staging.uksouth.cloudapp.azure.com/view/planning/2782836. I think that the more specific stuff to the trust initially would need be done via an API. Have a look at other layers we're adding. We'll be applying for another grant to extend the planning section so the grouping of polygons could be looked at then. Could you give more thoughts on the ver

[2022-11-22 09:36] matkoniecz commented on #968
I think that it is definitely not crashing anymore

[2022-11-22 10:49] matkoniecz commented on #971
that is changed already

[2022-11-22 10:49] #971 closed

[2022-11-22 16:49] polly64 opened #980 "add box asking for crowdsourced checking of accuracy of location for planning data"
@matkoniecz  have lost notebook what did we say text for this would be?

[2022-11-22 16:52] polly64 opened #981 "Add 'is this mapped right' box to listed building section"
@matkoniecz Add to listed building section under ' Grade' box another box saying ' is this information mapped onto the right building and then put a verify building footprint?  so we can also capture number of verifications

[2022-11-22 16:53] polly64 opened #982 "world heritage site entry amend"
On world heritage site entry unclear where user should enter in info ie in left or right box. Add something to direct

[2022-11-22 16:56] polly64 opened #983 "Connect layers to questions and tidy layers"
@matkoniecz this is just abloyt somehow linking the sections better so as you're looking at listed buildings and conservation areas say these come up -  can't imagine how this can be done but open to any options

[2022-11-22 16:58] polly64 opened #984 "set planning editing panel to default of all being concertinered except planning status"
set planning editing to default of all being concertinered except planning status - green boxes should be visible

[2022-11-22 17:30] matkoniecz commented on #982
@polly64 Only one of them is editable, user is simply unable to edit the right one.

But maybe it should be also grayed out? Or with a gray background? Like other noneditable fields

[2022-11-22 17:33] matkoniecz commented on #984
@polly64 So on the first interaction user should see something like this? With all groups except the current planning permissing being collapsed?

![screen04](https://user-images.githubusercontent.com/899988/203382266-249d3225-ba0c-4a56-9526-022fdb5d3dc0.png)

[2022-11-22 19:24] polly64 commented on #982
Or just say add here just feels a bit unclear

[2022-11-22 19:24] polly64 commented on #984
Yes perfect

[2022-11-22 19:45] matkoniecz commented on #982
current:
![screen06](https://user-images.githubusercontent.com/899988/203407047-64f2f6ae-b860-4b21-938c-d25f2bff70b5.png)

new (?):
![screen07](https://user-images.githubusercontent.com/899988/203407057-a8a21cb6-b504-4c82-b3f6-471de9751f21.png)

[2022-11-23 08:09] matkoniecz commented on #982
done in #985

[2022-11-23 08:12] matkoniecz commented on #973
problem disappeared, hopefully forever

[2022-11-23 08:12] #973 closed

[2022-11-23 08:20] #984 closed

[2022-11-23 09:10] #982 closed

[2022-11-23 10:17] matkoniecz commented on #980
That is more complex:

- we may want to record what is actually confusing/unclear/wrong
  - but freeform crowsdsourced info open all kind of problems
- it should be recorder per application, not per building

[2022-11-23 10:17] matkoniecz commented on #980
So we will leave it for later...

[2022-11-23 10:45] matkoniecz opened #986 "historical for things one year ago is unclear"
![screen11](https://user-images.githubusercontent.com/899988/203527319-7add82fb-e8cb-491a-9b66-288878edb5b7.png)

[2022-11-23 10:49] #986 closed

[2022-11-23 10:50] matkoniecz commented on #986
added

[2022-11-23 18:09] polly64 commented on #980
yes all these should be inactive thanks

[2022-11-24 13:35] mdsimpson42 opened #988 "Update Dependencies"
We're getting a number of security warnings about dependencies. For example: https://github.com/colouring-cities/colouring-london/security/dependabot/55

Many of these warnings will be fixed by updating dependencies, but will need to check that updating dependencies doesn't cause any compile errors, bugs or crashes.

[2022-11-24 14:48] matkoniecz opened #989 "future planning applications - remove user votes after six months"
consers:

- cache invalidation
- how to mark it in history of objects
- how to allow user to reactivate their vote
- setup this as automatic process

[2022-11-24 15:40] matkoniecz opened #990 "What type of owner owns this land parcel (public_ownership_type) - add new values in dropdown"
requires modifying ENUM

[2022-11-24 16:37] polly64 commented on #990
State
Charitable trust or non-profit
Community
Privately owned - individual
Privately owned- company
Privately owned- offshore company
Combined private/public ownership
Other

[2022-11-24 20:15] taimaz22 commented on #990
We can also add 'Unregistered Land' as another category. Or of it is too many categories, 'other' is sufficient.

[2022-11-27 09:01] polly64 opened #991 "Check list of outstanding for planning section 25 Nov 2022 & next phase items"
Hi @matkoniecz can you tick these as you go so we can just use this issue as final check box and move a summary description of everything else needed so we all know what needs to be done @fallipalaiologou

Outstanding this phase

- [ ] Activate pink buttons
- [ ] Add 3 more zoning maps
- [ ] Change key  text for 'Last year 'planning applications ' to read 'The map shows applications where the subm

[2022-11-27 11:57] polly64 commented on #990
thanks @taimaz22